section.index-catalog
    .container
        .cell__xs-10.center-block
            .text--center
                h2.decor-title
                    span Каталог
            .row
                - for (var x = 0; x < 2; x++)
                    .cell.cell__xs-4
                        .card
                            .card-category
                                ul.breadcrumbs
                                    li
                                        a(href="#") Улун
                                    li
                                        a(href="#") Темный улун
                            .card-img
                                img(src="images/card-img-1.jpg", alt="")
                            .card-title: h4 Те гуань инь вторая строчка
                            .card-desc
                                p Черный чай, который окислен примерно до 80 %. В Китае и некоторых других восточных странах этот вид называют красным.
                            .card-info
                                .card-info__weight
                                    span.text--center
                                        a.inc(href="#") -
                                    span.type
                                        input.form-control.product-quantity__input(type="text", value="150", data-val="гр.", data-step="10", readonly)
                                    span.text--center
                                        a.dec(href="#") +
                                .card-info__price
                                    b.text--success 1 549 руб.
                            .card-btn.margtop20
                                a.btn.btn--primary.btn__md.text--uppercase(href="#") В корзину  #[i.icon-right-open-1]
                    .cell.cell__xs-4
                        .card
                            .card-category
                                ul.breadcrumbs
                                    li
                                        a(href="#") Улун
                                    li
                                        a(href="#") Темный улун
                            .card-img
                                img(src="images/card-img-2.jpg", alt="")
                            .card-title: h4 Да хун пао
                            .card-desc
                                p Черный чай, который окислен примерно до 80 %. В Китае и некоторых других восточных странах этот вид называют красным.
                            .card-info
                                .card-info__weight
                                    span.text--center
                                        a.inc(href="#") -
                                    span.type
                                        input.form-control.product-quantity__input(type="text", value="150", data-val="гр.", data-step="50", readonly)
                                    span.text--center
                                        a.dec(href="#") +
                                .card-info__price
                                    b.text--success 1 549 руб.
                            .card-btn.margtop20
                                a.btn.btn--primary.btn__md.text--uppercase(href="#") В корзину  #[i.icon-right-open-1]
                    .cell.cell__xs-4
                        .card
                            .card-category
                                ul.breadcrumbs
                                    li
                                        a(href="#") Улун
                                    li
                                        a(href="#") Темный улун
                            .card-img
                                img(src="images/card-img-3.jpg", alt="")
                            .card-title: h4 Ла гуи рен
                            .card-desc
                                p Черный чай, который окислен примерно до 80 %. В Китае и некоторых других восточных странах этот вид называют красным.
                            .card-info
                                .card-info__weight
                                    span.text--center
                                        a.inc(href="#") -
                                    span.type
                                        input.form-control.product-quantity__input(type="text", value="150", data-val="гр.", data-step="1", readonly)
                                    span.text--center
                                        a.dec(href="#") +
                                .card-info__price
                                    b.text--success 1 549 руб.
                            .card-btn.margtop20
                                a.btn.btn--primary.btn__md.text--uppercase(href="#") В корзину  #[i.icon-right-open-1]
            .text--center.margtop20
                a.btn.btn--transparent.btn__lg.text--uppercase(href="#") Перейти в каталог чая  #[i.icon-right-open-1]