ul.pagination
    li
        a(href='#'): i.icon-left-open
    li.pagination__item.active
        a(href='#') 1
    - for (var x = 2; x < 7; x++)
        li.pagination__item
            a(href='#')= x
    li
        a(href='#'): i.icon-right-open-1