//popups

#send-id.mfp-hide.white-popup.mfp-md.feedback
    //a.close.popup-modal-dismiss(href="#"): img(src="images/close.png", alt="")
    .text--center
        h3 Напишите нам письмо
    .cell__xs-8.center-block
        .this-or-this.margbot20
            .this-or-this__this
                p #[i.icon-phone] + 7 932 435-33-44
                p #[i.icon-mail-alt] email@gmail.com
            .this-or-this__this
                p #[img(src="images/logo-viber.png", alt="")] nick.nick
                p #[i.icon-whatsapp] nick.nick
    form
        .row
            .cell.cell__xs-6
                .form__group
                    .row
                        .cell.cell__xs-2
                            label Имя
                        .cell.cell__xs-10
                            input.form-control(type='text', value="Ruslan Latypov", required)
            .cell.cell__xs-6
                .form__group
                    .row
                        .cell.cell__xs-2
                            label E-mail
                        .cell.cell__xs-10
                            input.form-control(type='mail')
        .form__group
            .row
                .cell.cell__xs-1
                    label Текст
                .cell.cell__xs-11
                    textarea.form-control(rows='3')
        .text--center
            button.btn.btn--primary.btn__lg.text--uppercase(type="submit") ОТправить нам письмо #[i.icon-right-open-1]


#auth-id.mfp-hide.mfp-md.popup.feedback
    .white-popup.mfp-xs.popup__item
        .text--center
            h3 Авторизация
            form
                .form__group
                    .row
                        .cell.cell__xs-2
                            label Имя
                        .cell.cell__xs-10
                            input.form-control(type='text', value="Ruslan Latypov", required)
                .form__group
                    .row
                        .cell.cell__xs-2
                            label пароль
                        .cell.cell__xs-10
                            input.form-control(type='password', required)
                .text--center.margtop30
                    button.btn.btn--primary.btn__lg.btn--full.text--uppercase(type="submit") Авторизация #[i.icon-right-open-1]
                h5.margtop30 авторизация через #[br] социальные сети
                ul.list--inline.social
                    li: a(href="#"): i.icon-facebook
                    li: a(href="#"): i.icon-vkontakte
                    li: a(href="#"): i.icon-odnoklassniki-rect
                    li: a(href="#"): i.icon-instagram
    .popup__item.popup__item--fl
    .white-popup.mfp-xs.popup__item
        //a.close.popup-modal-dismiss(href="#"): img(src="images/close.png", alt="")
        .text--center
            h3 Регистрация
            form
                .form__group
                    .row
                        .cell.cell__xs-2
                            label Имя
                        .cell.cell__xs-10
                            input.form-control(type='text', value="Ruslan Latypov", required)
                .form__group
                    .row
                        .cell.cell__xs-2
                            label Телефон
                        .cell.cell__xs-10
                            input.form-control(type='text', name="phone")
                .form__group
                    .row
                        .cell.cell__xs-2
                            label E-mail
                        .cell.cell__xs-10
                            input.form-control(type='email')
                .form__group
                    .row
                        .cell.cell__xs-2
                            label пароль
                        .cell.cell__xs-10
                            input.form-control(type='password', required)
                .form__group
                    .row
                        .cell.cell__xs-2
                            label пароль #[br] повтор
                        .cell.cell__xs-10
                            input.form-control(type='password', required)
                .text--center.margtop30
                    button.btn.btn--primary.btn__lg.btn--full.text--uppercase(type="submit") Зарегистрироваться #[i.icon-right-open-1]
                h5.margtop30 Регистрация через #[br] социальные сети
                ul.list--inline.social
                    li: a(href="#"): i.icon-facebook
                    li: a(href="#"): i.icon-vkontakte
                    li: a(href="#"): i.icon-odnoklassniki-rect
                    li: a(href="#"): i.icon-instagram

//popups