.widget.active
    .widget-title На эту же тему #[i.icon-right-open-1]
    .widget-body
        ul.list--unstyled.margbot0
            li: a(href="#") Как заваривают чай в провинции Чжэцзян.
            li: a(href="#") Как заварить китайский чай.
            li: a(href="#") Как правильно подготовить воду для заваривания китайского чая?
            li: a(href="#") Тайвань в моем сердце!
            li: a(href="#") Тайваньские чаи в каталоге!
.widget
    .widget-title ДЛя начинающих #[i.icon-right-open-1]
    .widget-body
        ul.list--unstyled.margbot0
            li: a(href="#") Как заваривают чай в провинции Чжэцзян.
            li: a(href="#") Как заварить китайский чай.
            li: a(href="#") Как правильно подготовить воду для заваривания китайского чая?
            li: a(href="#") Тайвань в моем сердце!
            li: a(href="#") Тайваньские чаи в каталоге!
.widget
    .widget-title Видео-блог #[i.icon-right-open-1]
    .widget-body
        ul.list--unstyled.margbot0
            li: a(href="#") Как заваривают чай в провинции Чжэцзян.
            li: a(href="#") Как заварить китайский чай.
            li: a(href="#") Как правильно подготовить воду для заваривания китайского чая?
            li: a(href="#") Тайвань в моем сердце!
            li: a(href="#") Тайваньские чаи в каталоге!