//
// Base -> Scaffolding
// --------------------------------------------------

//
// Make all elements box-sizing
//
* {
  &,
  &:before,
  &:after {
    box-sizing: border-box;
  }
}

//
// Delete focus border
//
a:active, a:focus {outline: none;}
input, textarea {outline:none;}
input:active, textarea:active {outline:none;}
button:active, button:focus {outline: none;}
:focus {outline:none;}
button::-moz-focus-inner {border: 0;}

//
// Clearfix
//
.clearfix {
  @include clearfix();
}

//
// HTML
//
html {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

//
// Basic typography styles
//
body {
  //background-color: $base-background;
  background: url("../images/background.jpg") repeat center top / cover,  $base-background;
  color: $base-color;
  font-weight: $base-font-weight;
  font-size: $base-font-size;
  font-family: $base-font-family;
  line-height: $base-line-height;
  -webkit-text-size-adjust: 100%;
    min-width: 1160px;
    // overflow: hidden
}

section {
  background: $white-lighten;
}

html,
body {
  height: 100%;
}
.wrapper {
  position: relative;
  min-height: 100%;
}
.content {
  padding-bottom: 220px;
}

footer {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 220px;
}

//
// Link
//
a {
  color: $link-color;
  @include transition;
  text-decoration: none;

  &:hover,
  &:active,
  &:focus {
    //color: $link-hover-color;
    text-decoration: underline;
  }
}

//
// Images
//
img {
  max-width: 100%;
  height: auto;
}
.img--right{
  float:right;
  margin-bottom:  $line-height-computed;
  margin-left: $line-height-computed;
}
.img--left{
  float:left;
  margin-right: $line-height-computed;
  margin-bottom: $line-height-computed;
}
.img--center{
  display:block;
  margin-right:auto;
  margin-bottom: $line-height-computed;
  margin-left:auto;
}



//
// Display none
//
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0,0,0,0);
  overflow: hidden;
}