//
// Base -> Typography
// --------------------------------------------------


// Headings
h1, h2, h3, h4, h5, h6, .alpha, .beta, .gamma, .delta, .epsilon, .zeta {
  font-family: $headings-font-family;
  font-weight: $headings-font-weight;
  line-height: $headings-line-height;
  color: $headings-color;

  text-transform: uppercase;

  small {
    font-weight: normal;
    line-height: 1;
  }
}

h1,
h2,
h3 {
  margin-top: $line-height-computed;
  margin-bottom: $line-height-computed-half;

  small {
    font-size: 65%;
  }
}
h4,
h5,
h6 {
  margin-top: $line-height-computed;
  margin-bottom: $line-height-computed-half;

  small {
    font-size: 75%;
  }
}

h1, .alpha   { font-size: $font-size-h1; font-family: $base-font-family-serif;}
h2, .beta    { font-size: $font-size-h2; font-family: $base-font-family-serif;}
h3, .gamma   { font-size: $font-size-h3; font-family: $base-font-family-serif;}
h4, .delta   { font-size: $font-size-h4; color: #626362;}
h5, .epsilon { font-size: $font-size-h5; }
h6, .zeta    { font-size: $font-size-h6; }


// Body text
p { margin: 0 0 $line-height-computed-half; }

b { font-weight: 600; }

// Alignment
.text--justify        { text-align: justify; }
.text--nowrap         { white-space: nowrap; }


// Responsive alignment
@if $use-adaptive == true {
  @media (min-width: $screen-sm-min) {
    .text__sm--left   { text-align: left; }
    .text__sm--right  { text-align: right; }
    .text__sm--center { text-align: center; }
  }
  @media (min-width: $screen-md-min) {
    .text__md--left { text-align: left;}
    .text__md--right {text-align: right;}
    .text__md--center {text-align: center;}
  }

  @media (min-width: $screen-lg-min) {
    .text__lg--left { text-align: left;}
    .text__lg--right { text-align: right;}
    .text__lg--center { text-align: center;}
  }

  @media (min-width: $screen-xlg-min) {
    .text__xlg--left { text-align: left;}
    .text__xlg--right { text-align: right;}
    .text__xlg--center { text-align: center;}
  }
}


// Transformation
.text--lowercase      { text-transform: none; }
.text--uppercase      { text-transform: uppercase; }
.text--capitalize     { text-transform: capitalize; }
.text--dotted         { border-bottom: 1px dotted #626362;}

// Text size
.text__xs { font-size: $font-size-tiny; }
.text__sm { font-size: $font-size-small; }
.text__md { font-size: $font-size-medium; }
.text__lg { font-size: $font-size-large; }


sup {
  color: #f9593a;
  font-size: 20px;
  font-weight: 600;
}


@if $use-color-text == true {
  // Color text
  @include text-emphasis-variant('.text--primary', $base-color-main);
  @include text-emphasis-variant('.text--success', $color-type-4a);
  @include text-emphasis-variant('.text--info', dimgrey);
  @include text-emphasis-variant('.text--warning', $color-type-3a);
  @include text-emphasis-variant('.text--danger', #f9593a);
  @include text-emphasis-variant('.text--default', #bebebe);
}


// Lists
ul,
ol {
  margin-top: 0;
  margin-bottom: $line-height-computed-half;
  ul,
  ol {
    margin-bottom: 0;
  }
}

.list {
  &--unstyled {
    @include list--unstyled;
  }

  &--inline {
    @include list--unstyled;
    margin-left: -5px;
    > li {
      display: inline-block;
      padding-left: 5px;
      padding-right: 5px;
    }
  }

  &--table {
    @include list--unstyled;
    display: table;
    width: 100%;
    margin-left: -5px;
    > li {
      display: table-cell;
      width: 1%;
      padding-left: 5px;
      padding-right: 5px;
    }
  }

  &--bullet {
    @include list--unstyled;
    margin-left: 11px;
    > li {
      margin-bottom: $line-height-computed / 2.6;
      &:last-child {
        margin-bottom: 0;
      }
      &::before {
        content: '•';
        color: #04be5b;
        font-size: 20px;
        margin-right: 11px;
      }
    }
  }

  &--number {
    counter-reset: items;
    padding-left: 0;
    margin-left: 11px;
    > li {
      margin-bottom: $line-height-computed / 2.6;
      &::before {
        counter-increment: items 1;
        content: counter(items, decimal) ".";
        margin-right: 5px;
        font-weight: 400;
      }
      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  &--counter {
    //max-width: 450px;
    @include list--unstyled;
    //margin-bottom: 0;
    li {
      display: block;
      position: relative;
      overflow: hidden;
      margin: 6px 0;
      height: 35px;
      //margin-bottom: 15px;
      &:after {
        content: '';
        display: block;
        position: absolute;
        bottom: 4px;
        left: 0;
        width: 100%;
        height: 2px;
        border-top: 1px dotted #ccc;
      }
      .key {
        //display: inline-block;
        position: absolute;
        bottom: 4px;
        z-index: 2;
        background: #fff;
        padding-right: 5px;
        color: #898888;
        //max-width: 142px;
        font-size: 12px;
      }
      .value {
        display: block;
        position: absolute;
        bottom: 0;
        right: 0;
        z-index: 2;
        background: #fff;
        color: #363636;
        padding-left: 5px;
      }
    }
  }
}

.link {
  cursor: pointer;
}

// Blockquotes
blockquote {
  padding: 0 $line-height-computed 0 ($line-height-computed * 1.8);
  margin: $line-height-computed * 2 0;
  font-size: $blockquote-font-size;
  line-height: 1.6;
  position: relative;
  //border-left: 3px solid $blockquote-border-color;
  //background: linear-gradient(to top, #0082d5 0%, #a234d5 100%);

  &:before {
    content: '';
    height: 100%;
    width: 3px;
    @include background-gradient(#a234d5, #0082d5);
    display: inline-block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
  }
  p,
  ul,

  ol {
    &:last-child {
      margin-bottom: 0;
    }
  }
}