//
// Partials -> Footer
// ------------------------------------


//
// Footer
//
.page-footer {
  padding-top: 27px;
  padding-bottom: 10px; 
  color: #a3a3a3;
  background: url("../images/1.jpg") no-repeat center center / cover, #1f1f1f;
  box-shadow: 0 -4px 7px rgba(0, 0, 0, 0.08);
    min-width: 1160px;
  a {
    color: #fff;
    b {
      color: #bebebe;
      line-height: 1;
      font-size: 15px;
      text-transform: uppercase;
    }
  }
  li {
    margin: 15px 0;
  }
  &__menu {
    padding-left: 30px;
    padding-bottom: 30px;
    background: url("../images/line-footer.png") no-repeat top 15px left,  url("../images/line-footer.png") no-repeat top 15px right;
  }
  .social i {
    padding-left: 20px;
  }
}


.social i {
  font-size: 21px;
  color: #fff;
  &:hover {
    color: #bebebe;
  }
}

.footer__logo {
  &-img {
    display: table-cell;
    vertical-align: bottom;

    img {vertical-align: middle;}
  }
  &-title {
    display: table-cell;
    vertical-align: bottom;
    color: #57bd64;
    font-family: $base-font-family-serif;
    font-size: 21px;
    font-weight: 700;
    text-transform: uppercase;
    padding-left: 14px;
  }
}