//
// Partials -> Header
// ------------------------------------


//
// Header
//
.page-header {
  background-color: white;
  box-shadow: 0 3px 12px rgba(0, 1, 3, 0.15);
  @include clearfix();
  min-width: 1160px;
  position: relative;
  &__logo {
    a {
      display: block;
      &:hover {
        text-decoration: none;
      }
    }
  }
  &__phone {
    width: 20%;
    color: dimgrey;
    font-weight: 700;
    padding-top: 32px;
    background: url("../images/line-head.png") no-repeat bottom right;
  }
  &__list {
    width: 14%;
    padding: 39px 20px 0;
    a {
      text-transform: uppercase;
      display: block;
      color: #848484;
      font-size: $font-size-medium;
    }
  }
  &__info {
    padding-top: 39px;
    text-align: right;
    position: relative;
    width: 35%;

    .search {
      display: table-cell;
      width: 1%;
      vertical-align: middle;
      text-align: left;
      a {
        display: inline-block;
        width: 60px;
        height: 53px;
        line-height: 53px;
        border: 1px solid #9c9c9c;
        border-radius: 26px;
        text-align: center;
        i {
          font-size: 22px;
          color: #b3b3b3;
        }
        &:hover {
          border-color: $color-type-4a;
        }
      }

      &.active {
        a {
          background: $color-type-4a;
          border-color: #fff;
        }
        .input__group {display: table;}
        .search-txt {
          opacity: 1;
          width: 101%;
          //b {display: block;}
        }
        + .cart  + .auth, + .cart  {opacity: 0;}
      }
      &-txt {
        opacity: 0;
        @include transition();
        width: 0;
        height: 53px;
        border: 1px solid $color-type-4a;
        border-radius: 26px;
        color: #fff;

        position: absolute;
        left: 0;
        bottom: 2px;
        text-align: left;
        z-index: 4;
        .form-control {
          height: 51px;
          border: none;
          padding-left: 30px;
          text-transform: uppercase;
          @include border-right-radius(0);
          @include border-left-radius(26px);
        }
        .input__group {display: none;}
      }
    }
    .lock {
      display: table-cell;
      width: 1%;
      vertical-align: middle;
      text-align: right;
      a {
        display: inline-block;
        width: 60px;
        height: 53px;
        line-height: 53px;
        border: 1px solid $base-color-main;
        border-radius: 26px;
        text-align: center;
        i {
          font-size: 22px;
          color: $base-color-main;
        }
        &:hover {
          background: $base-color-main;
        }
        &:hover i {
          color: #fff;
        }
      }
    }
    .auth {
      display: table-cell;
      width: 1%;
      vertical-align: middle;
      text-align: right;
      a {
        display: inline-block;
        width: 60px;
        height: 53px;
        line-height: 49px;
        background: url("../images/user-ico-g.png") center center no-repeat, #fff;
        border: 1px solid $base-color-main;
        border-radius: 26px;
        text-align: center;
        position: relative;
        vertical-align: middle;
        z-index: 4;
        img {
          vertical-align: middle;
        }
      }
      &:hover {
        a {
          //background: $color-type-4a;
          background: url("../images/user-ico.png") center center no-repeat, $color-type-4a;
          border-color: #fff;
        }
        .auth-txt {
          opacity: 1;
          width: 101%;
          b {
            display: block;}
        }
      }
      &-txt {
        //display: none;
        opacity: 0;
        @include transition();
        width: 0;
        height: 53px;
        background: $color-type-4a;
        border-radius: 26px;
        color: #fff;
        padding: 8px 0 8px 35px;
        text-transform: uppercase;

        position: absolute;
        right: 0;
        z-index: 3;
        //left: 0;
        bottom: 2px;
        text-align: left;
        b {display: none;}
      }
    }
    .cart {
      display: table-cell;
      width: 1%;
      vertical-align: middle;
      text-align: center;
      position: relative;
      &-main {
        display: block;
        width: 190px;
        height: 53px;
        //line-height: 53px;
        color: #b3b3b3;
        border: 1px solid #b1b1b1;
        border-radius: 26px;
        text-align: center;
        padding: 6px 21px;
      }
      i {
        font-size: 22px;
        color: #b3b3b3;
      }

      &:hover {
        + .auth {opacity: 0;}
        a:not(.btn) {
          color: $color-type-4a;
          border-color: $color-type-4a;
          text-decoration: none;
        }
        .cart-inner {
          opacity: 1;
          width: 360px;
        }
        .cart-inner__list {
          display: block;
        }
      }

      &-inner {
        opacity: 0;
        width: 190px;
        @include transition();
        &__title {
          height: 53px;
          background: #fff;
          color: $color-type-4a;
          border: 1px solid $color-type-4a;
          border-radius: 26px;
          padding: 6px 24px;
          position: relative;
          z-index: 1;
        }

        position: absolute;
        left: 0;
        top: 0;
        text-align: left;
        z-index: 3;

        .cart__ico {
          float: right;
          .count {
            color: $color-type-4a;
            border: 1px solid $color-type-4a;
          }
        }
        &__list {
          display: none;
          background-color: #fff;
          color: #4e4e4e;
          margin-top: -23px;
          padding: 30px 15px 15px;
          @include border-bottom-radius(26px);
          border: 1px solid $color-type-4a;
          ul {
            max-height: 200px;
            overflow: auto;
          }
          li { position: relative; padding: 5px 0;}
          li + li {
            border-top: 1px solid #e8e8e8;
          }
          .link {
            position: absolute;
            right: 5px;
            top: 5px;
          }
          i {
            font-size: 16px;
            color: #fff;
          }
        }
      }

      &__txt {
        text-align: left;
        display: inline-block;
        padding-right: 14px;
      }
      &__ico {
        vertical-align: top;
        display: inline-block;
        border-left: 1px solid #d6d6d6;
        padding-left: 5px;
        position: relative;
        .count {
          width: 20px;
          height: 20px;
          line-height: 20px;
          color: #b3b3b3;
          font-size: 11px;
          text-align: center;
          border: 1px solid #b3b3b3;
          @include border-radius(20px);

          position: absolute;
          right: -2px;
          bottom: -3px;
        }
      }
    }
  }

  &__catalog {
    width: 24%;
    > a {
      display: block;
      //width: 243px;
      height: 61px;
      border: 1px solid #bdbdbd;
      border-radius: 30px;
      font-weight: 700;
      font-size: 18px;
      text-transform: uppercase;
      line-height: 59px;
      text-align: center;
      color: #bdbdbd;
      span {
        color: $base-color-main;
      }
      i {
        margin-right: 23px;
      }
    }
    &:hover > a {
      text-decoration: none;
      background: $color-type-4a;
      border-color: $color-type-4a;
      color: #fff;
      span { color: #fff;}
    }
  }
  &__menu {

  }

  &__top {
    padding: 12px 0 22px;
  }
  &__top, &__bottom {
    .inner {
      display: table;
      width: 100%;
    }
    .item {
      display: table-cell;
      vertical-align: middle;
    }
  }
  &__bottom {
    background-color: #f6f6f6;
    //padding: 15px 0;
    position: relative;
    .item { padding: 15px 0;}
    .img-abs {
      position: absolute;
      z-index: -1;
      left: -16%;
      bottom: -177px;
    }
  }
  &__fixed {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    opacity: 0;
    background-color: white;
    box-shadow: 0 0 9px rgba(0, 1, 3, 0.15);
    z-index: -1;
    @include transition();

    &.active {opacity: 1; z-index: 99;}

    .header__logo-title {
      font-size: 16px;
    }
    .list--table {margin-bottom: 0;}
    li {vertical-align: middle;
      width: auto;}

    .page-header__catalog {
      padding: 10px 0;
      width: auto;
      white-space: nowrap;
      > a {
        line-height: 41px;
        height: 41px;
        font-size: 16px;
        padding: 0 10px;
        i {margin-right: 11px;}
      }
      span {color: #22bf6e;}
    }
    .page-header__phone {
      padding: 0;
      width: auto;
      white-space: nowrap;
      background: none;
      a{display: block;}
    }
    .page-header__info {
      padding: 0;
      width: auto;
      text-align: right;
      .search-txt {
        left: auto;
        right: 0;
        height: 44px;
        bottom: 0;
      }
      .search.active .search-txt {
        width: 370px;
      }
      .search {
        text-align: right;
        .btn {
          height: 42px;
        }
      }
      .cart-inner {
        //width: 366px;
      }
      .form-control {
        @include border-left-radius(26px);
        @include border-right-radius(0);
        height: 42px;
      }
      .cart-inner__title, .cart-main {
        height: 44px;
        padding: 4px 21px;
      }
      .search a {
        display: inline-block;
        width: 47px;
        height: 44px;
        line-height: 44px;
        i {font-size: 17px;}
      }
    }
    .page-header__list {
      padding: 0;
      width: auto;
      a { font-size: 13px;}
    }

    .page-header__logo {
      padding: 0;
      img { max-width: inherit; }
    }
  }
}
.header__logo {
  display: table;
  &-img {
    display: table-cell;
    vertical-align: bottom;
    img {vertical-align: middle;}
  }
  &-title {
    display: table-cell;
    vertical-align: bottom;
    color: #22bf6e;
    font-family: $base-font-family-serif;
    font-size: 21px;
    font-weight: 900;
    text-transform: uppercase;
    padding-left: 16px;
  }
}


.catalog-inner {
  background-color: #eaeaea;
  padding: 15px 0 3px;
  box-shadow: 0 3px 2.8px 0.2px rgba(65, 65, 61, 0.2);
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  z-index: 98;
  text-align: center;
  display: none;
  .page-header__catalog:hover & {
    display: block;
  }
  &__item {
    font-size: 12px;
    text-transform: uppercase;
    color: #57523b;
    font-weight: 400;
    display: table-cell;
    //width: 1%;
    vertical-align: top;
  }
}

//
// Main title
//
.title { }


//
// old-browser
//
.browsehappy {
  @extend .container;
}
.lt-ie8 { }