//
// Partials -> Main
// ------------------------------------


//
// Main container
//
.page-main {
  //padding-top: 20px;
  //padding-bottom: 20px;
      overflow: hidden;
}

.img-abs-main {
  position: absolute;
  z-index: -1;
  right: -9%;
  top: -14%;
}

.margtop-50 {
  margin-top: -33px;
}

hr {
  border: none;
  border-bottom: 1px solid #e9e9e9;
}
.main-template {
  padding: 20px;
  background-color: white;
  box-shadow: 0 3px 12px rgba(0, 1, 3, 0.24);
}

.cond-par {
  margin-bottom: 25px;
  line-height: 1.7;
  color: #747474;
  font-family: "Roboto Condensed";
}

.v-top {vertical-align: top;}
.v-bottom { vertical-align: bottom;}
.text-through {
  text-decoration: line-through;
}

.board {
  padding: 40px 20px;
  background-color: #fff;
  box-shadow: 0 3px 12px rgba(0, 1, 3, 0.24);
}

.decor-title {
  span {
    position: relative;
    &::before, &::after {
      content: '';
      position: absolute;
      top: 2px;
      left: -269px;
      width: 209px;
      height: 27px;
      background: url("../images/title-ico.png") no-repeat center center;
    }
    &::after {
      left: auto;
      right: -269px;
      transform: rotate(180deg);
    }
  }
}

.relative {
  position: relative;
}

.slideshow {
  padding: 20px 0;
  .btn {
    position: absolute;
    left: 8%;
    bottom: 50px;
  }
}

.range-slider {
  img {
    line-height: 3;
  }
  input {
    height: 35px;
  }

}

.radio-btn {
  input {
    display: none;
  }
  label {
    color: #474646;
    padding: 5px 2px;
    background-color: #fff;
    border: 1px solid #aeaeae;
    font-size: 16px;
    @include border-radius(50px);
    min-height: 35px;
    cursor: pointer;
    display: block;
    text-align: center;
  }
  input:checked + label {
    color: #fff;
    background-color: $color-type-4a;
  }
}

.lines {
  margin-top: 20px;
  margin-bottom: 40px;
}

.about {
  .list--table li {
    text-align: center;
    width: 20%;
  }
}
.index {
  &-about {
    @extend .board;
    margin-bottom: 39px;
    img {
      max-width: 150px;
    }
    li {
      text-align: center;
      width: 20%;
    }
    p {
      color: #3f3f3f;
      font-family: "Roboto Condensed";
      line-height: 2.25;
    }
    h6 {
      padding: 0 24px;
    }
  }
  &-catalog {
    padding: 32px 10px 52px;
    background: url("../images/catalog-img.jpg") no-repeat center / cover;
    box-shadow: 0 11px 9px rgba(0, 1, 3, 0.22);
    min-width: 1160px;
    h2 {color: #fff; margin-bottom: 52px;}
    .btn__md {
      width: 196px;
    }
  }
  &-serv {
    padding: 32px 10px 52px;
    background: url("../images/serv-img.jpg") no-repeat center / cover;
    min-width: 1160px;
    h2 {color: #fff; margin-bottom: 52px;}
    &__item {
      @extend .board;
      border-radius: 10px;
      color: #373737;
      font-size: 21px;
      text-align: center;
      display: table;
      padding: 27px 25px;
      height: 211px;
      width: 100%;
      .inner {
        vertical-align: top;
        display: table-cell;
      }
      .img {
        height: 66px;
        line-height: 66px;
      }
      img { margin-bottom: 19px;
        vertical-align: middle;}
      p { position: relative;font-weight: 400;}
      i {
        position: absolute;
        right: -21px;
        top: 24%;
      }
    }
  }
  &-blog {
    margin: 50px 0;
    @extend .board;
    padding: 30px;
    h4, h5 { font-weight: 400;color: black;}
    p { line-height: 1.7;}
    img { margin-top: 7px;}
    &__l {
      background: url("../images/line-body-4.png") no-repeat center right 15px;
    }
    &__item {
      padding-bottom: 20px;
      &:not(:last-child) {
        background: url("../images/line-body-3.png") no-repeat center bottom;
      }
    }
    ul {
      font-size: 0;
    }
    li {
      font-size: 14px;
    }
  }
  &-review {
    margin: 30px 0;
    padding: 10px 20px 40px;
    @extend .board;
    &__item {
      border: 1px solid #c4c4c4;
      border-radius: 6px;
      padding: 20px 30px 30px;
      margin: 15px;
      text-align: center;
      img { margin:auto;}
    }
    p {color: #797c7f;}
    &__title {
      color: #2c2c2c;
      font-size: 22px;
      font-weight: 400;
      position: relative;
      margin: 25px 0 55px;
      &::after {
        content: '';
        display: inline-block;
        width: 39px;
        height: 2px;
        background-color: #eaeaea;
        position: absolute;
        bottom: -20px;
        left: 0;
        right: 0;
        margin: auto;
      }
      i {
        background-color: #cbcbd2;
        color: #fff;
        display: inline-block;
        width: 26px;
        height: 26px;
        text-align: center;
        line-height: 26px;
        font-size: 16px;
        @include border-radius(50%);
        margin-right: 14px;
      }
    }
  }
  &-feedback {
    padding: 50px 120px;
    margin-bottom: 30px;
    box-shadow: 0 3px 12px rgba(0, 1, 3, 0.24);
    background: url("../images/ico-form-1.png") no-repeat left top 86px,  url("../images/ico-form-2.png") no-repeat right top 86px, #fff;
  }
}


.sec {
  &-feedback {
    padding: 30px;
    margin-bottom: 30px;
    box-shadow: 0 3px 12px rgba(0, 1, 3, 0.24);
    background: url("../images/ico-form-3.png") no-repeat left top 86px,  url("../images/ico-form-4.png") no-repeat right top 86px, #fff;
    label {
      text-align: right;
      font-weight: 700;
    }
    h3 {
      margin-top: 0;
      margin-bottom: 40px;
    }
  }
}

.feedback {
  .this-or-this {
    color: #7a7a7a;
    font-size: 21px;
    font-weight: 400;
    i {
      color: $color-type-4a;
      width: 63px;
      display: inline-block;
      text-align: right;
      padding-right: 15px;
    }
    img { padding-right: 15px;}
  }
}

.with-sidebar {
  h2 { margin-top: 0;}
}

.card {
  text-align: center;
  background-color: white;
  border-radius: 6px;
  box-shadow: 0 3px 12px rgba(0, 1, 3, 0.51);
  margin-bottom: 20px;
  padding: 20px;
  &-category {
    .breadcrumbs {
      font-size: 11px;
      margin-bottom: 0;
      padding-top: 0;
    }
  }
  &-img {
    img {vertical-align: middle;}
    position: relative;
    .badge {
      position: absolute;
      top: 0;
      left: 0;
    }
  }
  &-title {
    position: relative;
    margin-bottom: 24px;
    height: 47px;
    h4 {color: black;}
    &::after {
      content: '';
      position: absolute;
      bottom: -13px;
      left: 0;
      right: 0;
      margin:auto;
      width: 79px;
      height: 10px;
      background: url("../images/card-ico.png") no-repeat center center;
    }
  }
  &-desc {
    color: #262626;
    font-size: 12px;
    line-height: 18px;
    img {
      margin-bottom: 5px;
    }
  }
  &-info {
    margin-bottom: 11px;
    &__weight {
      display: table-cell;
      width: 1%;
      vertical-align: middle;
      text-align: left;
      white-space: nowrap;
      input {
        border-color: $color-type-4a;
        background: $color-type-4a;
        @include border-radius(26px);
        color: #fff;
        font-weight: 700;
        font-size: 20px;
        width: 85px;
        text-align: center;
        padding-right: 30px;
        &:focus {
          border-color: $color-type-4a;
          background: $color-type-4a;
        }
        &.zero {
          color: #6f6f6f;
          background: #fff;
          border: 1px solid $color-type-4a;
        }
      }
      .type {
        position: relative;
        &::after {
          content: 'гр.';
          color: #fff;
          font-weight: 700;
          font-size: 15px;
          position: absolute;
          top: 9px;
          right: 15px;
        }
      }
      a {
        font-size: 21px;
        font-weight: 700;
        color: $color-type-4a;
        &:hover, &:focus, &:active { text-decoration: none;}
      }
      span {
        padding: 0 6px;
        display: inline-block;
        vertical-align: middle;
      }
    }

    &__price {
      text-align: right;
      display: table-cell;
      width: 1%;
      vertical-align: middle;
      font-size: 20px;
      white-space: nowrap;
      .old {
        color: #6f6f6f;
        font-size: 14px;
        font-weight: 400;
        text-decoration: line-through;
      }
    }
  }
  &-btn { }
  &.disabled {
    input {
      background-color: #b8b8b8;
      border-color: #b8b8b8;
    }
    a {
      color: #b8b8b8;
    }
  }
}


//pages
.serv {
  .index-serv__item {
    color: #fff;
  }
  h2 {
    margin-bottom: 40px;
  }
}
.sidebar-menu {
  text-align: left;
  background-color: white;
  border: 1px solid $base-color-main;
  padding: 10px 0;
  ul {margin: 0;}
  a {
    display: block;
    color: #4a4a4a;
    font-size: 16px;
    font-weight: 500;
    padding: 15px 15px;
    text-transform: uppercase;
    &:hover {
      color: #fff;
      background-color: $base-color-main;
      text-decoration: none;
    }
  }
}
.slider-for1 {
  .slick-slide {
    border: 1px solid #e8e8e8;
  }
  img { width: 100%;}
}
.slider-nav1 {
  .slick-slide {
    border: 1px solid #e8e8e8;
    margin: 5px;
  }
}
.card-slider,
.card-slider2,
.card-slider3 {
  .slick-slide {
    margin: 5px;
  }
  .card-category {
    border-bottom: 1px solid #e8e8e8;
  }
  .card-img {
    border-bottom: 1px solid #e8e8e8;
  }
  .card-info__price {
    font-size: 15px;
  }
  .card-info__weight input {
    font-size: 13px;
    width: 70px;
  }
  .card-info__weight a {
    font-size: 15px;
  }
  .card-info__weight .type::after {
    font-size: 13px;
  }
}
.widget {
  background-color: white;
  border: 1px solid #e8e8e8;
  margin-bottom: 20px;
  &-title {
    color: #9a9a9a;
    font-size: 23px;
    font-weight: 500;
    padding: 12px 20px;
    text-transform: uppercase;
    font-family: "Roboto Condensed";
    border-bottom: 1px solid #e8e8e8;
    i {
      font-size: 14px;
      position: relative;
      top: -2px;
    }
    .active & {
      color: #fff;
      background-color: $color-type-4a;
    }
  }
  &-body {
    color: #474646;
    font-size: 16px;
    font-weight: 400;
    padding: 10px 20px;
    li {
      margin: 11px 0;
    }
  }
  &-menu {
    ul {
      margin-bottom: 0;
      li {
        a {
          display: block;
          padding: 10px 17px;
          font-size: 19px;
          color: #474646;
          background: #fff;
          text-transform: uppercase;
          &:hover {
            color: #fff;
            background-color: $base-color-main;
            text-decoration: none;
          }
        }
        &.active > a {
          color: #fff;
          background-color: $base-color-main;
          text-decoration: none;
        }
      }
    }
    .parent {
      position: relative;
      a::after {
        content: '\e801';
        font-family: "clo";
        font-size: 18px;
        color: #bdbdbd;
        position: absolute;
        right: 20px;
        top: 10px;
      }
      &.active a::after {
        content: '\f004';
        color: #fff;
      }
      a:hover::after {
        color: #fff;
      }
      &.active .sub-nav {
        display: block;
      }
    }
    .sub-nav {
      display: none;
      a {
        padding: 10px 45px;
        text-transform: none;
        &:hover {
          color: #474646;
          background: #fafafa;
        }
      }
    }
  }
}
.news {
  &__item {
    //padding-right: 50px;
    padding-bottom: 30px;
    img {width: 100%;}
    h4 {
      color: #3f3f3f;
      font-family: "Roboto Condensed";
    }
    p {
      font-family: "Roboto Condensed";
      color: #3f3f3f;
      line-height: 1.7;
    }
    a {font-weight: 400;}
    & + & {
      padding-top: 30px;
      background: url("../images/line-body-1.png") no-repeat top center;
    }
  }
}
.share-block {
  font-family: "Roboto Condensed";
  border-top: 1px solid #b7b7b7;
  padding: 20px 0;
}
.comments {
  margin-top: 10px;
  .form-control {
    background-color: #f0f0f0;
    border-radius: 6px;
    border: none;
    padding: 20px;
  }
}
.catalog-prod {
  padding: 20px;
  background-color: white;
  //border: 1px solid #e8e8e8;
  border-radius: 6px;
  box-shadow: 0 2px 5.2px 0.8px rgba(0, 1, 3, 0.06);
  a { font-weight: 400;}
}
.sort {
  margin: 10px 0;
  padding: 12px;
  background-color: white;
  border: 1px solid #e8e8e8;
  ul {margin: 0;}
  .form-control {
    color: #7f7f7f;
    border: 1px solid #bababa;
    border-radius: 18px;
    background: url("../images/arr.png") no-repeat center right 10px, #fff;
  }
  &__link {
    i {
      margin-left: 8px;
      color: $color-type-4a;
      background-color: white;
      border: 1px solid #bababa;
      border-radius: 7px;
    }
    &:hover {
      i {
        color: white;
        background-color: $color-type-4a;
        border-color: $color-type-4a;
      }
    }
  }
  li {width: auto;}
  a {color: #7f7f7f;}
}
.catalog-list {
  padding: 20px;
  font-weight: 400;
  a {
    color: $base-color-main;
    border-bottom: 1px dotted $base-color-main;
  }
}
.catalog-cart {
  .card {
    padding: 0;
    margin-bottom: 10px;
    box-shadow: 0 0 5.6px 0.4px rgba(0, 1, 3, 0.1);
  }
  .card-info,
  .card-title {
    padding: 0 10px;
  }
  .card-desc {
    padding: 0 10px;
  }
  .card-category {
    padding-top: 10px;
  }
  .card-btn {
    padding-bottom: 10px;
  }
  .card-info__weight span {
    padding: 0 2px;
  }
  .btn__lg {
    height: 45px;
    line-height: 1.5;
  }
}
.order {
  h3 {
    font-family: Roboto;
    text-transform: none;
    margin-bottom: 20px;
    font-weight: 400;
  }
  label {
    font-size: 14px;
    text-transform: none;
    padding-top: 0;
  }
  .form__group label {
    margin-left: 15px;
    height: 30px;
  }
  .card-info__price {
    display: inline-block;
    width: auto;
    text-align: left;
  }
  input {
    height: 35px;
    font-size: 13px;
    text-transform: none;
  }
  .table > thead th:first-child {
    text-align: left;
  }
  .btn {
    min-width: 160px;
  }
  textarea {
    border-radius: 5px;
  }
}
.probes {
  h3 {
    font-family: Roboto;
    margin-bottom: 30px;
    font-weight: 400;
  }
  .card {
    padding: 0;
    margin-bottom: 20px;
    box-shadow: 0 1px 5px rgba(0, 1, 3, 0.18);
  }
  .card-title {
    padding: 0 20px;
  }
  .card-info {
    padding: 0 0 10px;
  }
  .card-desc {
    font-size: 14px;
    color: #7c7c7c;
  }
  .card-info__weight {
    text-align: center;
    margin-bottom: 10px;
    font-size: 13px;
  }
  .card-info__weight .type::after {
    display: none;
  }
  .card-info__weight input {
    font-size: 13px;
    padding: 4px 8px;
    height: 22px;
    width: 49px;
  }
  .card-category {
    padding-top: 10px;
  }
  .card-btn {
    padding-bottom: 10px;
  }
}
.card-main {
  margin-bottom: 50px;
  padding: 10px 10px 15px 10px;
  border-radius: 6px;
  background-color: white;
  box-shadow: 0 2px 5.2px 0.8px rgba(0, 1, 3, 0.06);
  .list--table > li {
    width: auto;
  }
  .card-info__price {
    position: relative;
    top: -5px;
  }
  h3 {margin-top: 0;}
  hr {
    border: none;
    border-bottom: 1px solid #e8e8e8;
  }
  .list--table {
    margin: 15px 0 0;
    li {
      vertical-align: bottom;}
  }
}
.available {
  display: inline-block;
  margin-top: 4px;
  span {
    vertical-align: bottom;
    width: 6px;
    background-color: white;
    border: 1px solid #e8e8e8;
    border-radius: 3px;
    display: inline-block;
    margin: 0 3px;
    &.active {
      background-color: $color-type-4a;
    }
  }
  &-1 {
    height: 13px;
  }
  &-2 {
    height: 15px;
  }
  &-3 {
    height: 18px;
  }
  &-4 {
    height: 20px;
  }
  &-5 {
    height: 22px;
  }
}
//pages
.table-img {
  img {
    border: 1px solid #E8E8E8;
  }
}
.tabs {
  li {
    font-weight: 400;
    text-transform: uppercase;
  }
  &__caption {
    text-align: center;
    margin: 0;
    span {
      cursor: pointer;
      color: #797979;
      border-bottom: 2px dotted #797979;
    }
    .active span {
      border-color: transparent;
      color: $color-type-4a;
    }
    ul {margin: 0;}
  }
  &__content {
    display: none;
    //width: 820px;
    &.active {
      display: block;
    }
  }
  .catalog-list {
    background-color: white;
    border: 1px solid #e8e8e8;
    padding: 10px;
  }
}

.star-rating{
  font-size: 0;
}
.star-rating__wrap{
  display: inline-block;
  //font-size: 1rem;
  margin-bottom: 20px;
}
.star-rating__wrap:after{
  content: "";
  display: table;
  clear: both;
}
.star-rating__ico{
  float: right;
  padding: 0;
  cursor: pointer;
  color: #e26116;
  font-size: 22px;

  .text__sm & {
    font-size: 16px;
  }
}
.star-rating__ico:last-child{
  padding-left: 0;
}
.star-rating__input{
  display: none;
}
.star-rating__ico:hover:before,
.star-rating__ico:hover ~ .star-rating__ico:before,
.star-rating__input:checked ~ .star-rating__ico:before
{
  content: "\e812";
}

.select2-container--default .select2-selection--single .select2-selection__arrow b {
  background: url("../images/arr.png") center center no-repeat;
  height: 5px;
  left: 50%;
  margin-left: -4px;
  margin-top: -2px;
  position: absolute;
  top: 50%;
  width: 9px;
}

.text--left           { text-align: left; }
.text--right          { text-align: right; }
.text--center         { text-align: center; }