//
// Modules -> Breadcrumbs
// --------------------------------------------------

@if $use-breadcrumb == true {
  .breadcrumbs {
    padding: $breadcrumb-padding-vertical 0;
    margin-bottom: $line-height-computed;
    list-style: none;
    background-color: $breadcrumb-bg;
    font-weight: 400;

    > li {
      display: inline-block;

      a {color: $breadcrumb-color;
        text-decoration: underline;}

      + li {
        &:before {
          content: " > ";
          padding: 0 5px;
          color: $breadcrumb-color;
        }
      }

      &.active {
        color: $breadcrumb-active-color;
      }
    }
  }
}