//
// Modules -> Media
// --------------------------------------------------
@if $use-media == true {
  .media {
    display: block;
    margin: 20px 0;
    @extend .clearfix;
    &__body {
      overflow: hidden;
      font-size: 14px;
    }
    &__img {
      float: left;
      margin-right: $line-height-computed;
      &--rev {
        float: right;
        margin-left: $line-height-computed;
      }
    }
    &__title {
      margin: 0 0 24px;
      font-size: 14px;
      font-weight: 400;
    }
  }

  .media__img img,
  .media__img--rev img {
    display: block;
  }

  .media__body {
    margin-bottom: 0;
  }
}