//
// Modules -> Navs
// --------------------------------------------------

.nav {
  ul {
    margin-bottom: 0;
    padding-left: 0;
    list-style: none;
    //display: table;
    //width: 100%;
    text-align: center;
  }
  li {
    position: relative;
    //display: table-cell;
    padding: $nav-link-padding;

    a {
      position: relative;
      display: block;
      text-decoration: none;
      font-size: 18px;
      text-transform: uppercase;
      font-weight:700;
      color: #6d736d;
      //background-color: $color-type-3c;

    }
    &:hover a,
    &:focus a {
      //background-color: $nav-link-hover-bg;
    }
  }
  li > a > img {
    max-width: none;
  }

  //.sub-nav {
  //  li {
  //    display: block;
  //    a {padding-left: 30px;}
  //    a:hover {
  //      background: $subnav-link-hover-bg;
  //    }
  //  }
  //  @media (min-width: $screen-adaptive-nav) {
  //    display: none;
  //    position: absolute;
  //    background: $gray-darken;
  //    top: 100%;
  //    right: 0;
  //    min-width: 200px;
  //    li:hover & {
  //      display: block;
  //    }
  //    a {padding-left: 15px;}
  //  }

  &__justified {
    width: 100%;

    li {
      float: none;
      > a {
        text-align: center;
        margin-bottom: 5px;
      }
    }
    @media (min-width: $screen-adaptive-nav) {
      li {
        display: table-cell;
        width: 1%;
        white-space: nowrap;
        > a {
          margin-bottom: 0;
        }
      }
    }
  }

  &__fixed-top {
    position: fixed;
    right: 0;
    left: 0;
    top: 0;
    border-width: 0 0 1px;
    z-index: $zindex-navbar-fixed;
  }
}
