//
// Modules -> Pagination (multiple pages)
// --------------------------------------------------

@if $use-pagination == true {
  .pagination {
    display: block;
    padding-left: 0;
    margin: $line-height-computed 0;
    //border-radius: $border-radius-base;
    text-align: center;
    //background-color: white;
    //border: 1px solid #e8e8e8;
    //@include clearfix();

    li {
      display: inline-block;
    }
    a {
      float: left;
      padding: 7px 6px;
      color: #aeaeae;
      font-size: 17px;
    }

    &__item {
      margin-left: -5px;
      background-color: $pagination-bg;
      border: 1px solid $pagination-border;
      a,
      span {
        position: relative;
        font-size: 18px;
        float: left;
        padding: 7px 14px;
        line-height: $base-line-height;
        text-decoration: none;
        color: $pagination-color;
        //@include border-radius(5px);
      }
      &:first-child {
        a,
        span {
          margin-left: 0;
          @include border-left-radius($border-radius-base);
        }
      }
      &:last-child {
        a,
        span {
          @include border-right-radius($border-radius-base);
        }
      }
    }
    &__item a,
    &__item span {
      &:hover,
      &:focus {
        z-index: 3;
        color: $pagination-hover-color;
        background-color: $pagination-hover-bg;
        border-color: $pagination-hover-border;
      }
    }

    &__item.active a,
    &__item.active span {
      &,
      &:hover,
      &:focus {
        z-index: 2;
        color: $pagination-active-color;
        background-color: $pagination-active-bg;
        border-color: $pagination-active-border;
        cursor: default;
      }
    }
  }
}
