//
// Modules -> This-or-this (table method for align)
// --------------------------------------------------

@if $use-this-or-this == true{
  .this-or-this {
    display:table;
    width:100%;
    //text-align:center;
  }
  .this-or-this__this,
  .this-or-this__or {
    display:table-cell;
    vertical-align:middle;
  }
}