footer.page-footer
    .container
        .cell__xs-11.center-block
            .row
                .cell.cell__xs-3
                    .page-footer__logo
                        a(href="/")
                            .footer__logo-img: img(src="images/logo-footer.png", alt=" ")
                            .footer__logo-title Нефритовый #[br] дракон
                .cell.cell__xs-8.page-footer__menu
                    .row
                        .cell.cell__xs-3
                            ul.list--unstyled
                                li: a(href="#") Белый чай
                                li: a(href="#") УЛун
                                li: a(href="#") Пуэр
                                li: a(href="#") Красный чай
                        .cell.cell__xs-3
                            ul.list--unstyled
                                li: a(href="#") Зеленый чай
                                li: a(href="#") Чай с добавками
                                li: a(href="#") Травяные чаи
                                li: a(href="#") Посуда и аксессуары
                        .cell.cell__xs-3
                            ul.list--unstyled
                                li: a(href="#"): b О проекте
                                li: a(href="#") Отзывы
                                li: a(href="#"): b блог
                                li: a(href="#"): b Для ресторанов
                        .cell.cell__xs-3
                            ul.list--unstyled
                                li: a(href="#"): b Доставка
                                li: a(href="#"): b Оплата
                                li: a(href="#"): b Контакты
                .cell.cell__xs-1
                    ul.list--unstyled.social
                        li: a(href="#"): i.icon-facebook
                        li: a(href="#"): i.icon-vkontakte
                        li: a(href="#"): i.icon-odnoklassniki-rect
                        li: a(href="#"): i.icon-instagram
