header.page-header
    .page-header__top
        .container
            .cell__xs-10.center-block
                .inner
                    .item.page-header__phone
                        a.text__lg.text--info(href="tel:89324353344") + 7 932 #[span.text--success 435-33-44]
                        a.btn.btn--default.popup-modal(href="#send-id") #[i.icon-mail] Обратная связь
                    .item.page-header__list
                        a(href="#") Доставка
                        a(href="#") Оплата
                    .item.page-header__logo
                        a(href="/")
                            .header__logo-img: img(src="images/logo.png", alt="Нефритовый дракон")
                            .header__logo-title Нефритовый #[br] дракон
                    .item.page-header__info
                        .search.search--js
                            a(href="#"): i.icon-search
                            form.search-txt(action="", method="post")
                                .input__group
                                    input.form-control(type="text", name="search", placeholder="Введите запрос")
                                    .input__group--btn
                                        button.btn.searchc--js(type="submit"): i.icon-search
                        .cart
                            .cart-main
                                .cart__txt
                                     .text--uppercase Корзина
                                     b.text__md 10 235 руб
                                .cart__ico
                                    a(href="#"): img(src="images/cart.png")
                                    .count 3
                            .cart-inner
                                .cart-inner__title
                                    .cart__txt
                                         .text--uppercase Корзина
                                         b.text__md 10 235 руб
                                    .cart__ico
                                        img(src="images/cart-hover.png")
                                        .count 3
                                .cart-inner__list
                                    ul.list--unstyled
                                        - for (var x = 2; x < 8; x++)
                                            li
                                                .text--uppercase Название товара Название товара
                                                b.text__md 10 235 руб
                                                .link:  a.close--js(href="#"): img(src="images/close-ico.png", alt="")
                                    a.btn.btn--primary.btn__xs.btn--full.text--uppercase(href="#") Оформить заказ  #[i.icon-right-open-1]
                        if title == 'Главная'
                            .auth
                                a.popup-modal(href="#auth-id")
                                     //img(src="images/user-ico.png", alt="")
                                 .auth-txt
                                    b ИМЯРЕК #[br] Длиннопользователивич
                        else
                            .lock
                                a.popup-modal(href="#auth-id"): i.icon-lock
    .page-header__bottom.relative
        .container
            .cell__xs-10.center-block
                .inner
                    .item.page-header__catalog
                        a.false--js(href="#")
                            i.icon-menu
                            span  Магазин чая
                        .catalog-inner
                            .container
                                .cell__xs-10.center-block
                                    a(href="#").catalog-inner__item
                                        img(src="images/menu-ico-1.png", alt="")
                                        p Белый
                                    a(href="#").catalog-inner__item
                                        img(src="images/menu-ico-2.png", alt="")
                                        p Желтый
                                    a(href="#").catalog-inner__item
                                        img(src="images/menu-ico-3.png", alt="")
                                        p Зеленый
                                    a(href="#").catalog-inner__item
                                        img(src="images/menu-ico-4.png", alt="")
                                        p Прочие
                                    a(href="#").catalog-inner__item
                                        img(src="images/menu-ico-5.png", alt="")
                                        p Красный
                                    a(href="#").catalog-inner__item
                                        img(src="images/menu-ico-6.png", alt="")
                                        p Улун
                                    a(href="#").catalog-inner__item
                                        img(src="images/menu-ico-7.png", alt="")
                                        p Пуэр
                                    a(href="#").catalog-inner__item
                                        img(src="images/menu-ico-8.png", alt="")
                                        p Посуда и #[br] аксессуары
                    .item.page-header__menu
                        include ../components/_navbar
.page-header__fixed
    .container
        .cell__xs-10.center-block
            ul.list--table
                li
                    .page-header__catalog
                        a.false--js(href="#")
                            i.icon-menu
                            span  Магазин чая
                        .catalog-inner
                            .container
                                .cell__xs-10.center-block
                                    a(href="#").catalog-inner__item
                                        img(src="images/menu-ico-1.png", alt="")
                                        p Белый
                                    a(href="#").catalog-inner__item
                                        img(src="images/menu-ico-2.png", alt="")
                                        p Желтый
                                    a(href="#").catalog-inner__item
                                        img(src="images/menu-ico-3.png", alt="")
                                        p Зеленый
                                    a(href="#").catalog-inner__item
                                        img(src="images/menu-ico-4.png", alt="")
                                        p Прочие
                                    a(href="#").catalog-inner__item
                                        img(src="images/menu-ico-5.png", alt="")
                                        p Красный
                                    a(href="#").catalog-inner__item
                                        img(src="images/menu-ico-6.png", alt="")
                                        p Улун
                                    a(href="#").catalog-inner__item
                                        img(src="images/menu-ico-7.png", alt="")
                                        p Пуэр
                                    a(href="#").catalog-inner__item
                                        img(src="images/menu-ico-8.png", alt="")
                                        p Посуда и #[br] аксессуары
                li
                    .page-header__phone.text--right
                        a.text__lg.text--info(href="tel:89324353344") + 7 932 #[span.text--success 435-33-44]
                        a.text--uppercase.text--info.text__sm(href="#") Контакты
                li
                    .page-header__logo
                        a(href="/")
                            .header__logo-img: img(src="images/logo-fix.png", alt="Нефритовый дракон")
                            .header__logo-title Нефритовый #[br] дракон
                li
                    .page-header__info
                        .cart
                            .cart-main
                                .cart__txt
                                    .text--uppercase.text__sm Корзина
                                    b 10 235 руб
                                .cart__ico
                                    a(href="#"): img(src="images/cart.png")
                                    .count 3
                            .cart-inner
                                .cart-inner__title
                                    .cart__txt
                                        .text--uppercase.text__sm Корзина
                                        b 10 235 руб
                                    .cart__ico
                                        img(src="images/cart-hover.png")
                                        .count 3
                                .cart-inner__list
                                    ul.list--unstyled
                                        - for (var x = 2; x < 8; x++)
                                            li
                                                .text--uppercase.text__sm Название товара Название товара
                                                b 10 235 руб
                                                .link:  a.close--js(href="#"): img(src="images/close-ico.png", alt="")
                                    a.btn.btn--primary.btn__xs.btn--full.text--uppercase(href="#") Оформить заказ  #[i.icon-right-open-1]
                li
                    .page-header__list
                        a(href="#") Доставка
                        a(href="#") Оплата
                li
                    .page-header__info
                        .search.search--js
                            a(href="#"): i.icon-search
                            form.search-txt(action="", method="post")
                                .input__group
                                    input.form-control(type="text", name="search", placeholder="Введите запрос")
                                    .input__group--btn
                                        button.btn.searchc--js(type="submit"): i.icon-search