main.page-main
    .container
        section.main-template.about
            include ../components/_breadcrumbs
            .row.with-sidebar
                aside.cell.cell__xs-3
                    .widget.active
                        .widget-title О проекте
                        .widget-body
                            ul.list--unstyled.margbot0
                                li: a(href="#") О нас
                                li: a(href="#") Новости
                                li: a(href="#") Сертификаты
                                li: a(href="#") Что-нибудь еще
                                li: a(href="#") Пункты меню длинные
                section.cell.cell__xs-9
                    .text--center.margbot30
                        .margbot30.margtop-50
                            h2.text--primary= title
                            img(src="images/line-body-2.png", alt="")
                        ul.list--table
                            li
                                img(src="images/about_01.png", alt="")
                                h5.text--uppercase Лучший чай из первых рук
                            li
                                img(src="images/about_02.png", alt="")
                                h5.text--uppercase Скидки и подарки
                            li
                                img(src="images/about_03.png", alt="")
                                h5.text--uppercase Чай для ресторанов
                    p.cond-par На литр воды положите пару чайных ложек. Разумеется, чаев плотной скрутки требуется чуть меньше. Объемных чаев – чуть больше. Строгих норм тут нет. Не усложняйте. Слушайте себя. Все равно получится хорошо! ) #[br] Такой графин отправляется в холодильник с вечера и до утра. Тут он проведет 12 часов или чуть больше. Чай в холодной воде экстрагируется медленно. И совершенно иначе. Утром вы получите волшебный напиток. #[br] Вкусы и ароматы чаев, заваренных тайваньским летним способом, отличаются от привычных вам ожидаемых. Это что-то принципиально новое. Что-то иное. То, что заставит вас слегка приподнять брови и сказать: «Ммммм.. интересно..» Они легче. Фруктовее. Прозрачнее. Холоднее. Вы ощутите новую вкусовую грань этого удивительного напитка. #[br] Разливайте холодный чай по маленьким пиалочкам, по большим пиалочкам, по фарфоровым чашкам или тонким стеклянным стаканам – любые способы хороши. Немного льда добавит пороху! Вы получите охлажденный напиток, крепко заряженный тонизирующими алкалоидами и витаминами. Прислушайтесь к ощущениям на протяжении следующих 15 минут и вы, конечно, поймаете эту легкую внутреннюю биохимическую улыбку.