main.page-main
    .container
        section.main-template.cart
            include ../components/_breadcrumbs
            table.table
                thead
                    tr
                        th
                        th
                        th Артикул
                        th Фасовка
                        th Всего кол-во
                        th
                        th
                        th
                tbody
                    - for (var x = 1; x < 4; x++)
                        tr
                            td.table-img.text--center: img(src="images/cart-img.jpg", alt="")
                            td
                                p.text__md.text--uppercase: b Пуэр (Шен) годТе гуань инь
                                span.text--info Перо феникса и все такое
                            td.text--center
                                span.text__sm TU076
                            td.text--center
                                span.text__sm 200 гр
                            td.text--center
                                span.text__sm 3
                            td
                                .card-info__weight.text--center
                                    span.text--center
                                        a.inc(href="#") -
                                    span.type
                                        input.form-control.product-quantity__input(type="text", value="150", data-val="гр.", data-step="10", readonly)
                                    span.text--center
                                        a.dec(href="#") +
                            td
                                .card-info__price.text--left
                                    .old 3 549 руб.
                                    b.text--success 1 549 руб.
                            td: a.close--js(href="#"): img(src="images/close-cart.png", alt="")
            .row.margbot40
                .cell.cell__xs-3
                    input.form-control.form-control--full(type="text", placeholder="код скидки")
                .cell.cell__xs-2
                    a.btn.btn--warning.btn__md(href="#") Применить  #[i.icon-right-open-1]
                .cell.cell__xs-4.text--right
                    ul.list--inline
                        li.text__lg.v-bottom  Итого
                        li.card-info__price.text--left.v-bottom(style="width:auto")
                            .old 3 549 руб.
                            b.text--primary 1 549 руб.
                .cell.cell__xs-3
                    a.btn.btn--primary.btn--full.btn__md(href="#") Оформить заказ  #[i.icon-right-open-1]
