main.page-main
    .container
        section.main-template.news
            ul.breadcrumbs
                li: a(href="#") Главная
                li: a(href="#") Каталог
                li: a(href="#") Пуэр
                li.active= title
            .row.with-sidebar
                aside.cell.cell__xs-3
                    .widget.active
                        .widget-title Виды чая
                        .widget-menu
                            ul
                                li: a(href="#") Белый чай
                                li.parent
                                    a(href="#") Темный улун
                                    ul.sub-nav
                                        li: a(href="#") Шен
                                        li: a(href="#") Шен
                                        li: a(href="#") Шен
                                li: a(href="#") Светлый улун
                                li.parent.active
                                    a(href="#") Пуэры
                                    ul.sub-nav
                                        li: a(href="#") Шен пуэры
                                        li: a(href="#") Шу пуэры
                                        li: a(href="#") Другие пуэры
                                li.parent
                                    a(href="#") Красный чай
                                    ul.sub-nav
                                        li: a(href="#") Шен
                                        li: a(href="#") Шен
                                        li: a(href="#") Шен
                                li: a(href="#") Зеленый чай
                                li: a(href="#") Другие чаи
                                li.parent
                                    a(href="#") Травяные чай
                                    ul.sub-nav
                                        li: a(href="#") Шен
                                        li: a(href="#") Шен
                                        li: a(href="#") Шен
                                li: a(href="#") Посуда и аксессуары
                    //.widget
                        .widget-title Цена
                        .widget-body
                            ul.list--table
                                li.cell__xs-4
                                    .radio-btn
                                        input(type="radio", id="radio", name="radio-btn")
                                        label(for="radio") 10 гр
                                li.cell__xs-4
                                    .radio-btn
                                        input(type="radio", id="radio1", name="radio-btn", checked)
                                        label(for="radio1") 50 гр
                                li.cell__xs-4
                                    .radio-btn
                                        input(type="radio", id="radio2", name="radio-btn")
                                        label(for="radio2") 100 гр
                            hr
                            .clearfix.range-slider.form__group
                                .pull-left.cell__xs-5.range-slider__item
                                    input#start.form-control.form-control--full(type="text", class="start")
                                .cell.cell__xs-2.range-dot.text--center: img(src="images/line.png", alt="")
                                .pull-left.cell__xs-5.range-slider__item
                                    input#end.form-control.form-control--full(type="text", class="end")
                            #rangeSlider.margbot10
                    .sidebar-menu
                        ul
                            li: a(href="#") Как заказать?
                            li: a(href="#") Доставка
                            li: a(href="#") Оплата
                            li: a(href="#") Как отследить посылку?
                            li: a(href="#") Скидки
                            li: a(href="#") FAQ
                section.cell.cell__xs-9
                    .card-main
                        .row
                            .cell.cell__xs-4
                                .slider-for1.image-gallery
                                    - for (var x = 1; x < 4; x++)
                                        .card-img
                                            .badge: img(src="images/sale.png", alt="")
                                            a(href="images/card-main-1.jpg"): img(src="images/card-main-1.jpg", alt="")
                                .slider-nav1
                                    - for (var x = 1; x < 4; x++)
                                        div
                                            img(src="images/card-main-1.jpg", alt="")
                            .cell.cell__xs-7
                                h3.text--lowercase #[span.text--primary Фен Хуан Дан Цун] (Чудесная орхидея)
                                p.text--info Зеленый чай — чудо-напиток, продукт, известный своими лечебными свойствами уже более 4000 лет. Возможно, самый таинственный и удивительный из напитков.
                                hr
                                .card-main__info
                                    .row
                                        .cell.cell__xs-6
                                            ul.list--counter
                                                li
                                                    span.key Артикул
                                                    span.value.text__sm TU-005
                                                li
                                                    span.key Цена за 100 гр:
                                                    span.value.text-through 5 783 руб
                                                li
                                                    span.key Цена со скидкой
                                                    span.value 4 783 руб
                                        .cell.cell__xs-6
                                            ul.list--counter
                                                li
                                                    span.key Происхождение:
                                                    span.value.text__sm Китай, #[br] Северный Фудзянь
                                                li
                                                    span.key Для ресторанов:
                                                    span.value.text__sm Да
                                                li
                                                    span.key Заваривать при #[br] температуре
                                                    span.value.text__sm 95 - 100 º
                        hr
                        ul.list--table
                            li
                                .text__sm.text--info В наличии:
                                .available.popover(data-content="Наличие на складе", data-placement="bottom", data-avail="50")
                                    span.available-1
                                    span.available-2
                                    span.available-3
                                    span.available-4
                                    span.available-5
                            li
                                .text__sm.text--info Фасовка:
                                select.form-control(style="width:105px")
                                    option 1000 гр
                                    option 500 гр
                                    option 100 гр
                                    option 50 гр
                            li
                                .card-info__weight.text--center
                                    span.text--center
                                        a.inc(href="#") -
                                    span.type
                                        input.form-control.product-quantity__input(type="text", value="150", data-val="гр.", data-step="10", readonly)
                                    span.text--center
                                        a.dec(href="#") +
                            li
                                .card-info__price.text--left
                                    .old 3 549 руб.
                                    b.text--success 1 549 руб.
                            li
                                a.btn.btn--primary.btn--full.btn__md(href="#") В корзину #[i.icon-right-open-1]
                    p.cond-par  Если у вас были какие-то предубеждения по поводу небольших упаковок и малых форм, то в этом случае вам придется с ними расстаться. Это блестящий чай во всей своей красе. Это чай на крепкую пятерку. Это чай – улыбка. Закажите на пробу. Через месяц вы вернетесь за ним. С этим чаем очень интересно экспериментировать и играть со временем его экспозиции. Вы можете заварить его крепче, намного крепче. И даже очень-очень крепко. Настой станет невероятно сильным во вкусе, но при этом не уйдет в горечь. Такие вещи происходят только с породистыми блинами. Это удивительно, что мы можем встретить подобный чай в малых формах.  Для их производства используется высококачественный лист - однородный и красивый. Мягкая прессовка сохраняет его целостность.
                    p.cond-par Мини-ядрышки дают приятный аромат классического Шен Пуэра, который при заваривании начинает играть новыми звонкими нотами. Тут присутствуют и сухофрукты, и береза, и цветочные намеки, и сухое сено, и целая мозаика лесных ароматов…
                    p.cond-par Цвет настоя светло-желтый, с мельчайшими полупрозрачными ворсинками. Вкус мягкий и ровный. Чай легко пьется, с удовольствием проскальзывая внутрь и не оставляя при этом даже намека на горчинку, что просто удивительно и невероятно для столь юного Пуэра. В послевкусии ощущается приятная умеренная терпкость.
                    .tabs
                        .catalog-list
                            ul.list--table.tabs__caption
                                li.active: span Еще чаи
                                li.qwerty: span Аксессуары
                                li: span Блоги (3)
                                li: span Отзывы (3)
                                li: span Доп. информация
                        .tabs__content.active
                            .text--center.margtop30
                                h3.text--primary Еще улуны
                            .cell__xs-11.center-block
                                .catalog-cart.card-slider
                                    - for (var x = 1; x < 9; x++)
                                        .card
                                            .card-img
                                                img(src="images/card-img-3.jpg", alt="")
                                            .card-title: h6 Пуэр (Шен) годТе гуань инь
                                            .card-info
                                                .card-info__weight
                                                    span.text--center
                                                        a.inc(href="#") -
                                                    span.type
                                                        input.form-control.product-quantity__input(type="text", value="150", data-val="гр.", data-step="1", readonly)
                                                    span.text--center
                                                        a.dec(href="#") +
                                                .card-info__price
                                                    b.text--success 1 549 р.
                                            .card-btn.margtop20
                                                a.btn.btn--primary.text--uppercase(href="#") В корзину  #[i.icon-right-open-1]
                            .text--center.margtop30
                                h3 Популярные чаи
                            .cell__xs-11.center-block
                                .catalog-cart.card-slider
                                    - for (var x = 1; x < 9; x++)
                                        .card
                                            .card-category
                                                ul.breadcrumbs
                                                    li
                                                        a(href="#") Улун
                                                    li
                                                        a(href="#") Темный улун
                                            .card-img
                                                img(src="images/card-img-3.jpg", alt="")
                                            .card-title: h6 Пуэр (Шен) годТе гуань инь
                                            .card-info
                                                .card-info__weight
                                                    span.text--center
                                                        a.inc(href="#") -
                                                    span.type
                                                        input.form-control.product-quantity__input(type="text", value="150", data-val="гр.", data-step="1", readonly)
                                                    span.text--center
                                                        a.dec(href="#") +
                                                .card-info__price
                                                    b.text--success 1 549 р.
                                            .card-btn.margtop20
                                                a.btn.btn--primary.text--uppercase(href="#") В корзину  #[i.icon-right-open-1]
                        .tabs__content
                            .text--center.margtop30
                                h3.text--primary улуны
                            .cell__xs-11.center-block
                                .catalog-cart.card-slider3
                                    - for (var x = 1; x < 9; x++)
                                        .card
                                            .card-img
                                                img(src="images/card-img-3.jpg", alt="")
                                            .card-title: h6 Пуэр (Шен) годТе гуань инь
                                            .card-info
                                                .card-info__weight
                                                    span.text--center
                                                        a.inc(href="#") -
                                                    span.type
                                                        input.form-control.product-quantity__input(type="text", value="150", data-val="гр.", data-step="1", readonly)
                                                    span.text--center
                                                        a.dec(href="#") +
                                                .card-info__price
                                                    b.text--success 1 549 р.
                                            .card-btn.margtop20
                                                a.btn.btn--primary.text--uppercase(href="#") В корзину  #[i.icon-right-open-1]
                            .text--center.margtop30
                                h3 Популярные чаи
                            .cell__xs-11.center-block
                                .catalog-cart.card-slider3
                                    - for (var x = 1; x < 9; x++)
                                        .card
                                            .card-category
                                                ul.breadcrumbs
                                                    li
                                                        a(href="#") Улун
                                                    li
                                                        a(href="#") Темный улун
                                            .card-img
                                                img(src="images/card-img-3.jpg", alt="")
                                            .card-title: h6 Пуэр (Шен) годТе гуань инь
                                            .card-info
                                                .card-info__weight
                                                    span.text--center
                                                        a.inc(href="#") -
                                                    span.type
                                                        input.form-control.product-quantity__input(type="text", value="150", data-val="гр.", data-step="1", readonly)
                                                    span.text--center
                                                        a.dec(href="#") +
                                                .card-info__price
                                                    b.text--success 1 549 р.
                                            .card-btn.margtop20
                                                a.btn.btn--primary.text--uppercase(href="#") В корзину  #[i.icon-right-open-1]
                        .tabs__content
                            .margtop40.cell__xs-11.center-block
                                //h2.text--primary.text--lowercase Блоги
                                - for (var x = 1; x < 3; x++)
                                    .news__item
                                        h4 Восточная красавица. Дунфан Мэйжень
                                        ul.list--inline.text--info.text__md.text--uppercase
                                            li 2 мая 2016
                                            li #[i.text--default.icon-heart] 343
                                            li #[i.text--default.icon-comment] 25
                                        img(src="images/news-img-1.jpg", alt="")
                                        p На литр воды положите пару чайных ложек. Разумеется, чаев плотной скрутки требуется чуть меньше. Объемных чаев – чуть больше. Строгих норм тут нет. Не усложняйте. Слушайте себя. Все равно получится хорошо! ) #[be] Такой графин отправляется в холодильник с вечера и до утра. Тут он проведет 12 часов или чуть больше. Чай в холодной воде
                                        a.text--uppercase.text__xs.text--success(href="#") Перейти На страницу  #[i.icon-right-open-1]
                        .tabs__content
                            //.text--center.margtop30
                                h2.text--primary.text--lowercase Отзывы
                            .cell__xs-10.center-block.comments
                                .media
                                    .media__img
                                        a(href="#"): img(src="images/ava.png", alt="")
                                    .media__body
                                        .pull-right.text__sm 1 day ago
                                        h6.media__title Alex
                                        span.text--info.pull-left.margright10 Оценка чая
                                        .star-rating
                                            .star-rating__wrap.text__sm
                                                input.star-rating__input#star-14(type="radio", name="reviewStars1", checked)
                                                label.star-rating__ico.icon-star-empty(title="gorgeous", for="star-14")
                                                input.star-rating__input#star-13(type="radio", name="reviewStars1", checked)
                                                label.star-rating__ico.icon-star-empty(title="gorgeous", for="star-13")
                                                input.star-rating__input#star-12(type="radio", name="reviewStars1", checked)
                                                label.star-rating__ico.icon-star-empty(title="gorgeous", for="star-12")
                                                input.star-rating__input#star-11(type="radio", name="reviewStars1")
                                                label.star-rating__ico.icon-star-empty(title="gorgeous", for="star-11")
                                                input.star-rating__input#star-10(type="radio", name="reviewStars1")
                                                label.star-rating__ico.icon-star-empty(title="gorgeous", for="star-10")
                                        p Тань Ян обласкал и удивил. Те ноты в нем, что звучат талой водой (будто снег подтаял по кромке горного ручья) нашли свое законное место в холодной заварке. Хочется воскликнуть: только так и надо заваривать Тань Ян! Но сдерживаюсь, потому что помню: заваренный горячим проливом в гайвани он по-иному великолепен. #[br] Спасибо за открытие.)
                                        ul.list--inline.text--info.text__md.margbot40
                                            li: a(href="#") #[i.text--danger.icon-heart] 32
                                            li: a(href="#") #[img(src="images/reply.png", alt="")] Ответить
                                        .media
                                            .media__img
                                                a(href="#"): img(src="images/ava.png", alt="")
                                            .media__body
                                                .pull-right.text__sm 1 day ago
                                                h6.media__title Alex
                                                p Тань Ян обласкал и удивил. Те ноты в нем, что звучат талой водой (будто снег подтаял по кромке горного ручья) нашли свое законное место в холодной заварке. Хочется воскликнуть: только так и надо заваривать Тань Ян! Но сдерживаюсь, потому что помню: заваренный горячим проливом в гайвани он по-иному великолепен. #[br] Спасибо за открытие.)
                                                ul.list--inline.text--info.text__md.margbot40
                                                    li: a(href="#") #[i.text--danger.icon-eye] 32
                                                    li: a(href="#") #[img(src="images/reply.png", alt="")] Ответить
                                            hr
                                .media
                                    .media__img
                                        a(href="#"): img(src="images/ava1.png", alt="")
                                    .media__body
                                        h6.media__title Вася
                                        span.text--info Оцените чай
                                        .star-rating
                                            .star-rating__wrap
                                                input.star-rating__input#star-4(type="radio", name="reviewStars")
                                                label.star-rating__ico.icon-star-empty(title="gorgeous", for="star-4")
                                                input.star-rating__input#star-3(type="radio", name="reviewStars")
                                                label.star-rating__ico.icon-star-empty(title="gorgeous", for="star-3")
                                                input.star-rating__input#star-2(type="radio", name="reviewStars")
                                                label.star-rating__ico.icon-star-empty(title="gorgeous", for="star-2")
                                                input.star-rating__input#star-1(type="radio", name="reviewStars")
                                                label.star-rating__ico.icon-star-empty(title="gorgeous", for="star-1")
                                                input.star-rating__input#star-0(type="radio", name="reviewStars")
                                                label.star-rating__ico.icon-star-empty(title="gorgeous", for="star-0")
                                        .clearfix
                                        .form__group
                                            textarea.form-control(rows="8", placeholder="Ваш комментарий")
                                        .text--right
                                            a.btn.btn--primary.text--uppercase.btn__lg(href="#") ОТправить
                        .tabs__content
                            table.table.table--striped.margtop20
                                thead
                                    tr
                                        th Наименование поля
                                        th Пример заполнения
                                        th Обяз-ть
                                        th Данные
                                        th Комментарий
                                tbody
                                    tr
                                        td Сезон изготовления
                                        td весна
                                        td нет
                                        td Текст
                                        td Выбирается из списка в админке для каждого товара. Список: весна, лето, осень
                                    tr
                                        td Год производства
                                        td 2014
                                        td нет
                                        td числа
                                        td Вводится число в админке
                                    tr
                                        td Рекомендуется пить из чайных пар:
                                        td Да\нет
                                        td нет
                                        td признак
                                        td Выбирается в админке да\нет
                                    tr
                                        td Оценка вкуса
                                        td 7
                                        td нет
                                        td числа
                                        td Выбор из списка от 1 до 10. В дизайне отображается как набор из 10-ти кружочков\цифр, из которых выделен выбранный
                                    tr
                                        td Рекомендуется для варки
                                        td Да\нет
                                        td нет
                                        td признак
                                        td Выбирается в админке как да\нет
                                    tr
                                        td Особенности упаковки\выпуска
                                        td Блин 357 грамм
                                        td нет
                                        td Список смешанный
                                        td Выбирается из предустановленного списка в админке, можно заносить разные значения в т.ч. виды подарочной упаковки
                                    tr
                                        td Вид чая
                                        td Улун
                                        td да
                                        td Текст
                                        td В админке выбирается из предустановленного списка