main.page-main
    .container
        section.main-template.news
            include ../components/_breadcrumbs
            .row.with-sidebar
                aside.cell.cell__xs-3
                    .widget.active
                        .widget-title Виды чая
                        .widget-menu
                            ul
                                li: a(href="#") Белый чай
                                li.parent
                                    a(href="#") Темный улун
                                    ul.sub-nav
                                        li: a(href="#") Шен
                                        li: a(href="#") Шен
                                        li: a(href="#") Шен
                                li: a(href="#") Светлый улун
                                li.parent.active
                                    a(href="#") Пуэры
                                    ul.sub-nav
                                        li: a(href="#") Шен пуэры
                                        li: a(href="#") Шу пуэры
                                        li: a(href="#") Другие пуэры
                                li.parent
                                    a(href="#") Красный чай
                                    ul.sub-nav
                                        li: a(href="#") Шен
                                        li: a(href="#") Шен
                                        li: a(href="#") Шен
                                li: a(href="#") Зеленый чай
                                li: a(href="#") Другие чаи
                                li.parent
                                    a(href="#") Травяные чай
                                    ul.sub-nav
                                        li: a(href="#") Шен
                                        li: a(href="#") Шен
                                        li: a(href="#") Шен
                                li: a(href="#") Посуда и аксессуары

                    .sidebar-menu
                        ul
                            li: a(href="#") Как заказать?
                            li: a(href="#") Доставка
                            li: a(href="#") Оплата
                            li: a(href="#") Как отследить посылку?
                            li: a(href="#") Скидки
                            li: a(href="#") FAQ
                section.cell.cell__xs-9
                    .catalog-prod
                        .row
                            .cell.cell__xs-3
                                img.margtop30(src="images/prod-img.png", alt="")
                            .cell.cell__xs-9
                                .text--center.margbot30
                                    h2.text--primary= title
                                p.cond-par Все китайские Пуэры производятся в единственной провинции – Юньнань. Тут расположены тысячи чайных мануфактур, каждая из которых выпускает свои Пуэры. Досконально разобраться в таком многообразии невозможно. Но возможно отобрать лучшее из того, что ты уже пробовал. В этом каталоге представлены лучшие образцы Пуэров, которые мне посчастливилось разыскать в Китае. Я страстно охочусь за Пуэрами! Я постоянно пробую новые и новые виды. И если я нахожу звездочку – я делаю все возможное, чтобы добавить ее в каталог.
                                a.text--uppercase.text__xs.text--success(href="#") Перейти На страницу  #[i.icon-right-open-1]
                    .sort
                        ul.list--table
                            li
                                select.form-control
                                    option Цена
                                    option Цена
                                    option Цена
                                    option Цена
                                    option Цена
                            li.text--center.sort__link: a(href="#") В наличии #[i.icon-angle-down]
                            li.text--center.sort__link: a(href="#") Для ресторанов #[i.icon-angle-down]
                            li.text--center.sort__link: a(href="#") Со скидкой #[i.icon-angle-down]
                            li.text--right.text--info Выводить по
                            li
                                select.form-control
                                    option 50
                                    option 100
                                    option 150
                                    option 200
                    .catalog-list
                        ul.list--inline.text--uppercase
                            li.text--success Все пуэры
                            li: a(href="#") Шен пуэры
                            li: a(href="#") Шу пуэры
                            li: a(href="#") Другие пуэры
                    .row.catalog-cart
                        - for (var x = 1; x < 3; x++)
                            .cell.cell__xs-4
                                .card
                                    .card-img
                                        .badge: img(src="images/sale.png", alt="")
                                        img(src="images/card-img-3.jpg", alt="")
                                    .card-title: h4 Пуэр (Шен) годТе гуань инь
                                    .card-desc
                                        p Черный чай, который окислен примерно до 80 %. В Китае и некоторых других восточных странах этот вид называют красным.
                                    .card-info
                                        .card-info__weight
                                            span.text--center
                                                a.inc(href="#") -
                                            span.type
                                                input.form-control.product-quantity__input(type="text", value="150", data-val="гр.", data-step="1", readonly)
                                            span.text--center
                                                a.dec(href="#") +
                                        .card-info__price
                                            b.text--success 1 549 руб.
                                    .card-btn.margtop20
                                        a.btn.btn--warning.btn__lg.text--uppercase(href="#") В корзину  #[i.icon-right-open-1]
                            .cell.cell__xs-4
                                .card.disabled
                                    .card-img
                                        img(src="images/card-img-3.jpg", alt="")
                                    .card-title: h4 Пуэр (Шен) годТе гуань инь
                                    .card-desc
                                        p Черный чай, который окислен примерно до 80 %. В Китае и некоторых других восточных странах этот вид называют красным.
                                    .card-info
                                        .card-info__weight
                                            span.text--center
                                                a.inc(href="#") -
                                            span.type
                                                input.form-control.product-quantity__input(type="text", value="150", data-val="гр.", data-step="1", readonly)
                                            span.text--center
                                                a.dec(href="#") +
                                        .card-info__price
                                            b.text--default 1 549 руб.
                                    .card-btn.margtop20
                                        a.btn.btn--default.btn__lg.text--uppercase(href="#") Нет в наличии
                            .cell.cell__xs-4
                                .card
                                    .card-img
                                        img(src="images/card-img-3.jpg", alt="")
                                    .card-title: h4 Пуэр (Шен) годТе гуань инь
                                    .card-desc
                                        p Черный чай, который окислен примерно до 80 %. В Китае и некоторых других восточных странах этот вид называют красным.
                                    .card-info
                                        .card-info__weight
                                            span.text--center
                                                a.inc(href="#") -
                                            span.type
                                                input.form-control.product-quantity__input(type="text", value="150", data-val="гр.", data-step="1", readonly)
                                            span.text--center
                                                a.dec(href="#") +
                                        .card-info__price
                                            b.text--success 1 549 руб.
                                    .card-btn.margtop20
                                        a.btn.btn--warning.btn__lg.text--uppercase(href="#") В корзину  #[i.icon-right-open-1]
                    include ../components/_paginator
            .text--center.margbot30
                h2.text--primary Сео текст
                img(src="images/line-body-2.png", alt="")
            p.cond-par Все китайские Пуэры производятся в единственной провинции – Юньнань. Тут расположены тысячи чайных мануфактур, каждая из которых выпускает свои Пуэры. Досконально разобраться в таком многообразии невозможно. Но возможно отобрать лучшее из того, что ты уже пробовал. В этом каталоге представлены лучшие образцы Пуэров, которые мне посчастливилось разыскать в Китае. Я страстно охочусь за Пуэрами! Я постоянно пробую новые и новые виды. И если я нахожу звездочку – я делаю все возможное, чтобы добавить ее в каталог. Так это работает. Каждый из Пуэров, представленный ниже, не похож на другие и имеет свои отличия. Но каждый из них – великолепен. Что бы вы ни выбрали, это будет заведомо лучший выбор.
            p.cond-par Все китайские Пуэры производятся в единственной провинции – Юньнань. Тут расположены тысячи чайных мануфактур, каждая из которых выпускает свои Пуэры. Досконально разобраться в таком многообразии невозможно. Но возможно отобрать лучшее из того, что ты уже пробовал. В этом каталоге представлены лучшие образцы Пуэров, которые мне посчастливилось разыскать в Китае. Я страстно охочусь за Пуэрами! Я постоянно пробую новые и новые виды. И если я нахожу звездочку – я делаю все возможное, чтобы добавить ее в каталог. Так это работает. Каждый из Пуэров, представленный ниже, не похож на другие и имеет свои отличия. Но каждый из них – великолепен. Что бы вы ни выбрали, это будет заведомо лучший выбор.