main.page-main
    .container
        section.main-template.serv
            include ../components/_breadcrumbs
            .cell__xs-10.center-block
                .text--center
                    h2.text--primary= title
                p.cond-par Все китайские Пуэры производятся в единственной провинции – Юньнань. Тут расположены тысячи чайных мануфактур, каждая из которых выпускает свои Пуэры. Досконально разобраться в таком многообразии невозможно. Но возможно отобрать лучшее из того, что ты уже пробовал. В этом каталоге представлены лучшие образцы Пуэров, которые мне посчастливилось разыскать в Китае. Я страстно охочусь за Пуэрами! Я постоянно пробую новые и новые виды. И если я нахожу звездочку – я делаю все возможное, чтобы добавить ее в каталог. Так это работает. Каждый из Пуэров, представленный ниже, не похож на другие и имеет свои отличия. Но каждый из них – великолепен. Что бы вы ни выбрали, это будет заведомо лучший выбор.
                .row.margbot30
                    .cell.cell__xs-3
                        a(href="#", style="background:url('images/serv-img-1.jpg') no-repeat center center").index-serv__item
                            .inner
                                .img: img(src="images/serv-ico-5.png", alt="")
                                p.text--uppercase составление чайной #[br] карты #[i.icon-right-open-1]
                    .cell.cell__xs-3
                        a(href="#", style="background:url('images/serv-img-2.jpg') no-repeat center center").index-serv__item
                            .inner
                                .img: img(src="images/serv-ico-6.png", alt="")
                                p.text--uppercase различные способы подачи #[i.icon-right-open-1]
                    .cell.cell__xs-3
                        a(href="#", style="background:url('images/serv-img-3.jpg') no-repeat center center").index-serv__item
                            .inner
                                .img: img(src="images/serv-ico-7.png", alt="")
                                p.text--uppercase обучение персонала #[i.icon-right-open-1]
                    .cell.cell__xs-3
                        a(href="#", style="background:url('images/serv-img-4.jpg') no-repeat center center").index-serv__item
                            .inner
                                .img: img(src="images/serv-ico-8.png", alt="")
                                p.text--uppercase поставка #[br] чая #[i.icon-right-open-1]
                p.cond-par Все китайские Пуэры производятся в единственной провинции – Юньнань. Тут расположены тысячи чайных мануфактур, каждая из которых выпускает свои Пуэры. Досконально разобраться в таком многообразии невозможно. Но возможно отобрать лучшее из того, что ты уже пробовал. В этом каталоге представлены лучшие образцы Пуэров, которые мне посчастливилось разыскать в Китае. Я страстно охочусь за Пуэрами! Я постоянно пробую новые и новые виды. И если я нахожу звездочку – я делаю все возможное, чтобы добавить ее в каталог. Так это работает. Каждый из Пуэров, представленный ниже, не похож на другие и имеет свои отличия. Но каждый из них – великолепен. Что бы вы ни выбрали, это будет заведомо лучший выбор.
            .cell__xs-8.center-block
                .sec-feedback
                    .text--center
                        h3 Наш менеджер свяжется с вами #[br] и пришлет наш прайс лист
                    form.row
                        .cell.cell__xs-1
                        .cell.cell__xs-8
                            .form__group.row
                                .cell.cell__xs-3
                                    label Название #[br] заведения
                                .cell.cell__xs-9
                                    input.form-control(type='text', value="Ruslan Latypov", required)
                            .form__group.row
                                .cell.cell__xs-3
                                    label город
                                .cell.cell__xs-9
                                    input.form-control(type='text')
                            .form__group.row
                                .cell.cell__xs-3
                                    label имя #[sup *]
                                .cell.cell__xs-9
                                    input.form-control(type='text', required)
                            .form__group.row
                                .cell.cell__xs-3
                                    label почта #[sup *]
                                .cell.cell__xs-9
                                    input.form-control(type='mail', required)
                            .form__group.row
                                .cell.cell__xs-3
                                    label Телефон #[sup *]
                                .cell.cell__xs-9
                                    input.form-control(type='text', name='phone', required)
                            .form__group.row
                                .cell.cell__xs-3
                                    label Текст
                                .cell.cell__xs-9
                                    textarea.form-control(rows='4')
                            .row.margtop40
                                .cell.cell__xs-3
                                .cell.cell__xs-9
                                    button.btn.btn--primary.btn--full.btn__lg.text--uppercase(type="submit") ОТправить нам письмо #[i.icon-right-open-1]
            .cell__xs-11.center-block
                p Все китайские Пуэры производятся в единственной провинции – Юньнань. Тут расположены тысячи чайных мануфактур, каждая из которых выпускает свои Пуэры. Досконально разобраться в таком многообразии невозможно. Но возможно отобрать лучшее из того, что ты уже пробовал. В этом каталоге представлены лучшие образцы Пуэров, которые мне посчастливилось разыскать в Китае. Я страстно охочусь за Пуэрами! Я постоянно пробую новые и новые виды. И если я нахожу звездочку – я делаю все возможное, чтобы добавить ее в каталог. Так это работает. Каждый из Пуэров, представленный ниже, не похож на другие и имеет свои отличия. Но каждый из них – великолепен. Что бы вы ни выбрали, это будет заведомо лучший выбор.
            .text--center.margtop30.margbot30
                a.btn.btn--danger.text--uppercase(href="#") Перейти в каталог чая  #[i.icon-right-open-1]
            .text--center.margtop30
                h3.text--primary Красные чаи и темные улуны
            .cell__xs-11.center-block
                .catalog-cart.card-slider2
                    - for (var x = 1; x < 9; x++)
                        .card
                            .card-img
                                img(src="images/card-img-3.jpg", alt="")
                            .card-title: h6 Пуэр (Шен) годТе гуань инь
                            .card-info
                                .card-info__price.text--center
                                    b.text--success 1 549 р.
                                .card-info__weight.text--center
                                    span.text--success  за 1 кг.
                            .card-btn.margtop20
                                a.btn.btn--danger.text--uppercase(href="#") подробнее  #[i.icon-right-open-1]
                        .card
                            .card-img
                                img(src="images/card-img-3.jpg", alt="")
                            .card-title: h6 Пуэр (Шен) годТе гуань инь
                            .card-info
                                .card-info__price.text--center
                                    b.text--success 1 549 р.
                                .card-info__weight.text--center
                                    span.text--success  за 1 кг.
                            .card-btn.margtop20
                                a.btn.btn--danger.text--uppercase(href="#") В корзину  #[i.icon-right-open-1]
            .text--center.margtop30
                h3.text--primary Зеленые чаи и светлые улуны
            .cell__xs-11.center-block
                .catalog-cart.card-slider2
                    - for (var x = 1; x < 9; x++)
                        .card
                            .card-img
                                img(src="images/card-img-3.jpg", alt="")
                            .card-title: h6 Пуэр (Шен) годТе гуань инь
                            .card-info
                                .card-info__price.text--center
                                    b.text--success 1 549 р.
                                .card-info__weight.text--center
                                    span.text--success  за 1 кг.
                            .card-btn.margtop20
                                a.btn.btn--danger.text--uppercase(href="#") подробнее  #[i.icon-right-open-1]
                        .card
                            .card-img
                                img(src="images/card-img-3.jpg", alt="")
                            .card-title: h6 Пуэр (Шен) годТе гуань инь
                            .card-info
                                .card-info__price.text--center
                                    b.text--success 1 549 р.
                                .card-info__weight.text--center
                                    span.text--success  за 1 кг.
                            .card-btn.margtop20
                                a.btn.btn--danger.text--uppercase(href="#") В корзину  #[i.icon-right-open-1]
            .text--center.margtop30
                h3.text--primary Ароматизированные
            .cell__xs-11.center-block
                .catalog-cart.card-slider2
                    - for (var x = 1; x < 9; x++)
                        .card
                            .card-img
                                img(src="images/card-img-3.jpg", alt="")
                            .card-title: h6 Пуэр (Шен) годТе гуань инь
                            .card-info
                                .card-info__price.text--center
                                    b.text--success 1 549 р.
                                .card-info__weight.text--center
                                    span.text--success  за 1 кг.
                            .card-btn.margtop20
                                a.btn.btn--danger.text--uppercase(href="#") подробнее  #[i.icon-right-open-1]
                        .card
                            .card-img
                                img(src="images/card-img-3.jpg", alt="")
                            .card-title: h6 Пуэр (Шен) годТе гуань инь
                            .card-info
                                .card-info__price.text--center
                                    b.text--success 1 549 р.
                                .card-info__weight.text--center
                                    span.text--success  за 1 кг.
                            .card-btn.margtop20
                                a.btn.btn--danger.text--uppercase(href="#") В корзину  #[i.icon-right-open-1]
            .text--center.margtop30
                h3.text--primary Пуэры
            .cell__xs-11.center-block
                .catalog-cart.card-slider2
                    - for (var x = 1; x < 9; x++)
                        .card
                            .card-img
                                img(src="images/card-img-3.jpg", alt="")
                            .card-title: h6 Пуэр (Шен) годТе гуань инь
                            .card-info
                                .card-info__price.text--center
                                    b.text--success 1 549 р.
                                .card-info__weight.text--center
                                    span.text--success  за 1 кг.
                            .card-btn.margtop20
                                a.btn.btn--danger.text--uppercase(href="#") подробнее  #[i.icon-right-open-1]
                        .card
                            .card-img
                                img(src="images/card-img-3.jpg", alt="")
                            .card-title: h6 Пуэр (Шен) годТе гуань инь
                            .card-info
                                .card-info__price.text--center
                                    b.text--success 1 549 р.
                                .card-info__weight.text--center
                                    span.text--success  за 1 кг.
                            .card-btn.margtop20
                                a.btn.btn--danger.text--uppercase(href="#") В корзину  #[i.icon-right-open-1]
            .text--center.margtop30
                h3.text--primary Чаи для сифона
            .cell__xs-11.center-block
                .catalog-cart.card-slider2
                    - for (var x = 1; x < 9; x++)
                        .card
                            .card-img
                                img(src="images/card-img-3.jpg", alt="")
                            .card-title: h6 Пуэр (Шен) годТе гуань инь
                            .card-info
                                .card-info__price.text--center
                                    b.text--success 1 549 р.
                                .card-info__weight.text--center
                                    span.text--success  за 1 кг.
                            .card-btn.margtop20
                                a.btn.btn--danger.text--uppercase(href="#") подробнее  #[i.icon-right-open-1]
                        .card
                            .card-img
                                img(src="images/card-img-3.jpg", alt="")
                            .card-title: h6 Пуэр (Шен) годТе гуань инь
                            .card-info
                                .card-info__price.text--center
                                    b.text--success 1 549 р.
                                .card-info__weight.text--center
                                    span.text--success  за 1 кг.
                            .card-btn.margtop20
                                a.btn.btn--danger.text--uppercase(href="#") В корзину  #[i.icon-right-open-1]
            .text--center.margtop30.margbot30
                a.btn.btn--warning.text--uppercase(href="#") Перейти в каталог чая  #[i.icon-right-open-1]