main.page-main
    .container
        .slideshow
            .cell__xs-8.center-block
                .row
                    .cell.cell__xs-7
                        h4.text--uppercase: span.text--dotted Акция в магазине
                        h1.text--primary Скидка 10%
                            br
                            | на Зеленый чай
                    .cell.cell__xs-5.relative
                        img(src="images/slider-img.png", alt="")
                        a.btn.btn--success.btn__lg.text--uppercase.btn--dot(href="#") #[span Перейти в каталог]   #[i.icon-right-open-1]
    .container.relative
        .img-abs-main
            img(src="images/tea2.png", alt="")
        section.index-about
            .cell__xs-10.center-block
                .text--center
                    h2.text--primary О проекте
                    p Наши сотрудники получают бесплатные путевки.
                    ul.list--table.margtop30
                        li
                            img(src="images/about_01.png", alt="")
                            h5.text--uppercase Лучший чай
                            img(src="images/line-body-5.png", alt="")
                            p.margtop20 Наши сотрудники получают бесплатные путевки, льготное кредитование и другие льготы, а потому держатся за место и работают на совесть.
                        li
                            img(src="images/about_02.png", alt="")
                            h5.text--uppercase Скидки и подарки
                            img(src="images/line-body-5.png", alt="")
                            p.margtop20 Наши сотрудники получают бесплатные путевки, льготное кредитование и другие льготы, а потому держатся за место и работают на совесть.
                        li
                            img(src="images/about_03.png", alt="")
                            h5.text--uppercase Чай для ресторанов
                            img(src="images/line-body-5.png", alt="")
                            p.margtop20 Наши сотрудники получают бесплатные путевки, льготное кредитование и другие льготы, а потому держатся за место и работают на совесть.
                    //.lines
                    //    img(src="images/line-body-1.png", alt="")
                //p Наши сотрудники получают бесплатные путевки, льготное кредитование и другие льготы, а потому держатся за место и работают на совесть. Мы создали собственный информационный (производственный, медицинский и т.д) продукт, который значительно облегчил нам работу и выделил на фоне конкурентов. Не беда, что новый продукт – простенький чат для сотрудников, написанный штатным программистом во время перекуров, главное – громко сказать.
                .text--center.margtop30
                    a.btn.btn--primary.btn__lg.text--uppercase(href="#") ПОдробнее  #[i.icon-right-open-1]
    include ../components/_index-catalog
    .container
        section.index-blog
            .row
                .cell.cell__xs-8.index-blog__l
                    .text--center
                        h3.text--primary.text--uppercase Чайный блог
                        img(src="images/line-body-5.png", alt="")
                    .index-blog__item
                        h4.text--uppercase Название статьи
                        ul.list--inline
                            li.v-top
                                img(src="images/blog-img-1.jpg", alt="")
                            li.v-top.cell__xs-9
                                p.text__sm У слова «чай» существует несколько определений. Чаем называется напиток, который получается в результате заваривания, настаивания или непродолжительногоУ слова «чай» существует несколько определений. Чаем называется напиток, который получается в результате заваривания, настаивания или непродолжительного...
                        a.text--uppercase.text--success.text__sm(href="#") Перейти на страницу #[i.icon-right-open-1.text--success]
                    .index-blog__item
                        h4.text--uppercase Чем полезен зеленый чай?
                        ul.list--inline
                            li.v-top
                                img(src="images/blog-img-2.jpg", alt="")
                            li.v-top.cell__xs-9
                                p.text__sm Зеленый чай — чудо-напиток, продукт, известный своими лечебными свойствами уже более 4000 лет. Возможно, самый таинственный и удивительный из напитков.У слова «чай» существует несколько определений. Чаем называется напиток, который получается в результате заваривания, настаивания или непродолжительного
                        a.text--uppercase.text--success.text__sm(href="#") Перейти на страницу #[i.icon-right-open-1.text--success]
                    .index-blog__item
                        h4.text--uppercase Как заваривать зеленый чай
                        ul.list--inline
                            li.v-top
                                img(src="images/blog-img-3.jpg", alt="")
                            li.v-top.cell__xs-9
                                p.text__sm Способы заварки китайского чая существенно отличаются от традиционных российских. Для приготовления чая лучше всего подходит живая родниковая вода с малым... У слова «чай» существует несколько определений. Чаем называется напиток, который получается в результате заваривания, настаивания или непродолжительного
                        a.text--uppercase.text--success.text__sm(href="#") Перейти на страницу #[i.icon-right-open-1.text--success]
                .cell.cell__xs-4
                    .text--center
                        h3.text--primary.text--uppercase для начинающих
                        img(src="images/line-body-5.png", alt="")
                    .index-blog__item
                        h4.text--uppercase Китайский чай для новичков
                        ul.list--inline
                            li.v-top.cell__xs-4
                                img(src="images/blog-img-1.jpg", alt="")
                            li.v-top.cell__xs-8
                                p.text__sm Весь мир китайского чая просто необъятен и его невозможно описать простыми словами. Чаем называется напиток, который
                        a.text--uppercase.text--success.text__sm(href="#") Перейти на страницу #[i.icon-right-open-1.text--success]
                    .index-blog__item
                        h4.text--uppercase Зеленый чай: типичные ошибки
                        ul.list--inline
                            li.v-top.cell__xs-4
                                img(src="images/blog-img-2.jpg", alt="")
                            li.v-top.cell__xs-8
                                p.text__sm У слова «чай» существует несколько определений. Чаем называется напиток, который. Чаем называется напиток, который
                        a.text--uppercase.text--success.text__sm(href="#") Перейти на страницу #[i.icon-right-open-1.text--success]
                    .index-blog__item
                        h4.text--uppercase Как выбрать улун
                        ul.list--inline
                            li.v-top.cell__xs-4
                                img(src="images/blog-img-3.jpg", alt="")
                            li.v-top.cell__xs-8
                                p.text__sm На примере светлого улуна тегуаньинь сегодня разберемся в вопросе - как же выбрать самый. Чаем называется напиток, который
                        a.text--uppercase.text--success.text__sm(href="#") Перейти на страницу #[i.icon-right-open-1.text--success]
    section.index-serv
        .container
            .cell__xs-10.center-block
                .text--center
                    h2.decor-title
                        span Для ресторанов
                .row
                    .cell.cell__xs-3
                        a(href="#").index-serv__item
                            .inner
                                .img: img(src="images/serv-ico-1.png", alt="")
                                p.text--uppercase составление  чайной #[br] карты #[i.icon-right-open-1]
                    .cell.cell__xs-3
                        a(href="#").index-serv__item
                            .inner
                                .img: img(src="images/serv-ico-2.png", alt="")
                                p.text--uppercase различные способы подачи #[i.icon-right-open-1]
                    .cell.cell__xs-3
                        a(href="#").index-serv__item
                            .inner
                                .img: img(src="images/serv-ico-3.png", alt="")
                                p.text--uppercase обучение персонала #[i.icon-right-open-1]
                    .cell.cell__xs-3
                        a(href="#").index-serv__item
                            .inner
                                .img: img(src="images/serv-ico-4.png", alt="")
                                p.text--uppercase поставка #[br] чая #[i.icon-right-open-1]
                .text--center.margtop40
                    a.btn.btn--transparent.btn__lg.text--uppercase(href="#") Перейти На страницу  #[i.icon-right-open-1]
    .container
        section.index-review
            .text--center
                h2.text--primary.text--uppercase Отзывы
            .cell__xs-10.center-block
                .slider
                    - for (var x = 0; x < 5; x++)
                        .index-review__item
                            img(src="images/photo.png", alt="")
                            .index-review__title
                                a(href="#"): i.icon-facebook
                                |  Иван Иванов
                            p На протяжении последних 3-х лет чистая прибыль компании ежегодно повышается на N% за счет: оптимизации производства, роста числа клиентов, удешевления услуг
                            .margtop40
                                a.btn.btn--warning.btn__lg.text--uppercase(href="#") Читать отзыв #[i.icon-right-open-1]
            .text--center.margtop30.margbot30
                a.btn.btn--primary.text--uppercase.btn__lg(href="#") ВСЕ ОТЗЫВЫ  #[i.icon-right-open-1]
    .container
        section.index-feedback.feedback
            .row
                .cell.cell__xs-6
                    h1.text--primary.margtop0.margbot40 мы всегда #[br] на связи
                    img(src="images/line-body-5.png", alt="")
                    .this-or-this.margtop30
                        .this-or-this__this
                            p #[i.icon-phone] + 7 932 435-33-44
                            p #[i.icon-mail-alt] email@gmail.com
                        .this-or-this__this
                            p #[img(src="images/logo-viber.png", alt="")] nick.nick
                            p #[i.icon-whatsapp] nick.nick
                .cell.cell__xs-6
                    form
                        .form__group.row
                            .cell.cell__xs-2
                                label Имя
                            .cell.cell__xs-10
                                input.form-control(type='text', name='name', id='name', value="Ruslan Latypov", required)
                        .form__group.row
                            .cell.cell__xs-2
                                label E-mail
                            .cell.cell__xs-10
                                input.form-control(type='mail', name='mail', id='mail')
                        .form__group.row
                            .cell.cell__xs-2
                                label Телефон
                            .cell.cell__xs-10
                                input.form-control(type='text', name='phone', id='phone', required)
                        .form__group.row
                            .cell.cell__xs-2
                                label Текст
                            .cell.cell__xs-10
                                textarea.form-control(rows='4')
                        .form__group.row.margtop40
                            .cell.cell__xs-5
                                ul.list--table.margtop10
                                    li.text--right.v-top: sup *
                                    li: label.text__sm.text--lowercase.padtop0 Обязательные для заполнения
                            .cell.cell__xs-7.text--right
                                button.btn.btn--primary.btn__lg.text--uppercase(type="submit") ОТправить #[i.icon-right-open-1]