main.page-main
    .container
        section.main-template.news
            include ../components/_breadcrumbs
            .row.with-sidebar
                aside.cell.cell__xs-3
                    include ../components/_widget
                section.cell.cell__xs-9
                    .text--center.margbot30.margtop-50
                        h2.text--primary Наш блог
                        img(src="images/line-body-2.png", alt="")
                    - for (var x = 1; x < 4; x++)
                        .news__item
                            h4: a(href="#") Восточная красавица. Дунфан Мэйжень
                            ul.list--inline.text--info.text__md.text--uppercase
                                li 2 мая 2016
                                li #[i.text--default.icon-eye] 343
                                li #[i.text--default.icon-comment] 25
                            a(href="#"): img(src="images/news-img-#{x}.jpg", alt="")
                            p На литр воды положите пару чайных ложек. Разумеется, чаев плотной скрутки требуется чуть меньше. Объемных чаев – чуть больше. Строгих норм тут нет. Не усложняйте. Слушайте себя. Все равно получится хорошо! ) #[be] Такой графин отправляется в холодильник с вечера и до утра. Тут он проведет 12 часов или чуть больше. Чай в холодной воде
                            a.text--uppercase.text__xs.text--success(href="#") Перейти На страницу  #[i.icon-right-open-1]
                    .news__item
                        h4: a(href="#") Восточная красавица. Дунфан Мэйжень
                        ul.list--inline.text--info.text__md.text--uppercase
                            li 2 мая 2016
                            li #[i.text--default.icon-eye] 343
                            li #[i.text--default.icon-comment] 25
                        a(href="#"): img(src="images/news-img-1.jpg", alt="")
                        p На литр воды положите пару чайных ложек. Разумеется, чаев плотной скрутки требуется чуть меньше. Объемных чаев – чуть больше. Строгих норм тут нет. Не усложняйте. Слушайте себя. Все равно получится хорошо! ) #[be] Такой графин отправляется в холодильник с вечера и до утра. Тут он проведет 12 часов или чуть больше. Чай в холодной воде
                        a.text--uppercase.text__xs.text--success(href="#") Перейти На страницу  #[i.icon-right-open-1]
            include ../components/_paginator