main.page-main
    .container
        section.main-template.news
            include ../components/_breadcrumbs
            .row.with-sidebar
                aside.cell.cell__xs-3
                    include ../components/_widget
                section.cell.cell__xs-9
                    .text--center.margbot30.margtop-50
                        h2.text--primary= title
                        ul.list--inline.text--info.text__md.text--uppercase.margbot30
                            li 2 мая 2016
                            li #[i.text--default.icon-eye] 343
                            li #[i.text--default.icon-comment] 25
                        img(src="images/line-body-2.png", alt="")
                    .news__item
                        p На литр воды положите пару чайных ложек. Разумеется, чаев плотной скрутки требуется чуть меньше. Объемных чаев – чуть больше. Строгих норм тут нет. Не усложняйте. Слушайте себя. Все равно получится хорошо! ) #[br] Такой графин отправляется в холодильник с вечера и до утра. Тут он проведет 12 часов или чуть больше. Чай в холодной воде экстрагируется медленно. И совершенно иначе. Утром вы получите волшебный напиток. #[br] Вкусы и ароматы чаев, заваренных тайваньским летним способом, отличаются от привычных вам ожидаемых. Это что-то принципиально новое. Что-то иное. То, что заставит вас слегка приподнять брови и сказать: «Ммммм.. интересно..» Они легче. Фруктовее. Прозрачнее. Холоднее. Вы ощутите новую вкусовую грань этого удивительного напитка. #[br] Разливайте холодный чай по маленьким пиалочкам, по большим пиалочкам, по фарфоровым чашкам или тонким стеклянным стаканам – любые способы хороши. Немного льда добавит пороху! Вы получите охлажденный напиток, крепко заряженный тонизирующими алкалоидами и витаминами. Прислушайтесь к ощущениям на протяжении следующих 15 минут и вы, конечно, поймаете эту легкую внутреннюю биохимическую улыбку.
                        .slider-for.margtop70
                            - for (var x = 1; x < 9; x++)
                                div: img(src="images/news-img.jpg", alt="")
                        .slider-nav
                            - for (var x = 1; x < 9; x++)
                                div: img(src="images/news-img-mini.jpg", alt="")
                    .share-block
                        p.text__xs Поделиться с друзьями
                        img(src="images/share.jpg", alt="")
        section.main-template.comments
            .text--center
                h2.text--primary.text--lowercase Комментарии
            .cell__xs-10.center-block
                .media
                    .media__img
                        a(href="#"): img(src="images/ava.png", alt="")
                    .media__body
                        .pull-right.text__sm 1 day ago
                        h6.media__title Alex
                        p Тань Ян обласкал и удивил. Те ноты в нем, что звучат талой водой (будто снег подтаял по кромке горного ручья) нашли свое законное место в холодной заварке. Хочется воскликнуть: только так и надо заваривать Тань Ян! Но сдерживаюсь, потому что помню: заваренный горячим проливом в гайвани он по-иному великолепен. #[br] Спасибо за открытие.)
                        ul.list--inline.text--info.text__md.margbot40
                            li: a(href="#") #[i.text--danger.icon-heart] 32
                            li: a(href="#") #[img(src="images/reply.png", alt="")] Ответить
                        .media
                            .media__img
                                a(href="#"): img(src="images/ava.png", alt="")
                            .media__body
                                .pull-right.text__sm 1 day ago
                                h6.media__title Alex
                                p Тань Ян обласкал и удивил. Те ноты в нем, что звучат талой водой (будто снег подтаял по кромке горного ручья) нашли свое законное место в холодной заварке. Хочется воскликнуть: только так и надо заваривать Тань Ян! Но сдерживаюсь, потому что помню: заваренный горячим проливом в гайвани он по-иному великолепен. #[br] Спасибо за открытие.)
                                ul.list--inline.text--info.text__md.margbot40
                                    li: a(href="#") #[i.text--danger.icon-heart] 32
                                    li: a(href="#") #[img(src="images/reply.png", alt="")] Ответить
                            hr
                .media
                    .media__img
                        a(href="#"): img(src="images/ava1.png", alt="")
                    .media__body
                        h6.media__title Вася
                        .form__group
                            textarea.form-control(rows="8", placeholder="Ваш комментарий")
                        .text--right
                            a.btn.btn--primary.text--uppercase.btn__lg(href="#") ОТправить