main.page-main
    .container
        section.main-template.cart.order
            include ../components/_breadcrumbs
            form
                table.table
                    thead
                        tr
                            th: h3.text--primary Ваш заказ
                            th
                            th Артикул
                            th Фасовка
                            th Всего кол-во
                            th
                            th
                    tbody
                        - for (var x = 1; x < 4; x++)
                            tr
                                td.table-img: img(src="images/cart-img.jpg", alt="")
                                td
                                    p.text__md.text--uppercase: b Пуэр (Шен) годТе гуань инь
                                    span.text--info Перо феникса и все такое
                                td.text--center
                                    span.text__sm TU076
                                td.text--center
                                    span.text__sm 200 гр
                                td.text--center
                                    span.text__sm 3
                                td.text--center.text__lg.text--info: b 150 гр
                                td.text--right(style="vertical-align: top;padding-top: 13px;")
                                    .card-info__price
                                        .old 3 549 руб.
                                        b.text--success 1 549 руб.
                    thead
                        tr
                            th: h3.text--primary Пробники
                            th
                            th Артикул
                            th Фасовка
                            th Всего кол-во
                            th
                            th
                    tbody
                        - for (var x = 1; x < 3; x++)
                            tr
                                td.table-img: img(src="images/cart-img.jpg", alt="")
                                td
                                    p.text__md.text--uppercase: b Пуэр (Шен) годТе гуань инь
                                    span.text--info Перо феникса и все такое
                                td.text--center
                                    span.text__sm TU076
                                td.text--center
                                    span.text__sm 200 гр
                                td.text--center
                                    span.text__sm 3
                                td.text--center.text__lg.text--info: b 5 гр
                                td.text--right
                                    .card-info__price
                                        b.text--success Подарок
                .row
                    .cell.cell__xs-3
                        a.btn.btn--warning.btn--full.btn__md(href="#") #[i.icon-left-open] Вернуться в корзину
                    .cell.cell__xs-4
                        a.btn.btn--warning.btn__md(href="#") #[i.icon-left-open] Выбрать другие пробники
                    .cell.cell__xs-5.text--right
                        ul.list--inline
                            li.text__lg.v-bottom  Итого
                            li.card-info__price.text--left.v-bottom(style="width:auto")
                                .old 3 549 руб.
                                b.text--primary 1 549 руб.
                hr
                h3.text--primary Авторизация
                .row
                    .cell.cell__xs-4
                        .form__group
                            label E-mail #[sup *]
                            input.form-control.form-control--full(type="email", placeholder="Например, Company@mail.ru")
                    .cell.cell__xs-4
                        .form__group
                            label Пароль  #[sup *]
                            input.form-control.form-control--full(type="password", placeholder="Например, ********")
                    .cell.cell__xs-4
                        .form__group
                            label &nbsp;
                            input.btn.btn--primary(type="submit", value="Авторизация")
                hr
                h3.text--primary Контактные данные
                .row
                    .cell.cell__xs-4
                        .form__group
                            label Имя #[sup *]
                            input.form-control.form-control--full(type="text", placeholder="Например, Иван")
                    .cell.cell__xs-4
                        .form__group
                            label Имя #[sup *]
                            input.form-control.form-control--full(type="email", placeholder="Например, Company@mail.ru")
                    .cell.cell__xs-4
                        .form__group
                            label Телефон  #[sup *]
                            input.form-control.form-control--full(type="text", placeholder="Например, +7 (ххх) ххх-хх-хх")
                hr
                h3.text--primary Выбор способа доставки
                .row
                    .cell.cell__xs-4
                        .radio
                            input(type="radio", id='deliver1', name="deliver")
                            label(for="deliver1") Доставка по Москве (Бесплатно) #[br] Ближайщая дата доставки #[br] 15.12.16 (завтра) с 9.00 до 20.00
                    .cell.cell__xs-4
                        .radio
                            input(type="radio", id='deliver2', name="deliver")
                            label(for="deliver2") Экпресс-доставка за 2 часа #[br] 800 рублей
                    .cell.cell__xs-4
                        .radio
                            input(type="radio", id='deliver3', name="deliver")
                            label(for="deliver3") Самовывоз по Москве (Бесплатно) &nbsp;
                                a.popover(href="#", data-content="Способы заварки китайского чая существенно отличаются от традиционных российских.", data-placement="top")
                                    img(src="images/popover.png", alt="")
                                | #[br] ул Такая-то 17а
                                | #[br] пн-пт с 10-00 до 19-00
                                | #[br] сб-вс с 11-00 до 18-00
                    .cell.cell__xs-4
                        .radio
                            input(type="radio", id='deliver4', name="deliver")
                            label(for="deliver4") Доставка Почтой России #[br] #[img.margtop10(src="images/del1.png", alt="")]
                    .cell.cell__xs-4
                        .radio
                            input(type="radio", id='deliver5', name="deliver")
                            label(for="deliver5") Доставка компаний CDEK до двери #[br] #[img.margtop10(src="images/del2.png", alt="")]
                hr
                h3.text--primary Выбор способа оплаты
                .row
                    .cell.cell__xs-2
                        .radio
                            input(type="radio", id='payment1', name="payment")
                            label(for="payment1") Наличными курьеру
                    .cell.cell__xs-3
                        .radio
                            input(type="radio", id='payment2', name="payment")
                            label(for="payment2") Предоплата яндекс-деньги #[br] #[img.margtop10(src="images/pay1.png", alt="")]
                    .cell.cell__xs-3
                        .radio
                            input(type="radio", id='payment3', name="payment")
                            label(for="payment3") Он-лайн банковской картой #[br] #[img.margtop10(src="images/pay2.png", alt="")]
                    .cell.cell__xs-3
                        .radio
                            input(type="radio", id='payment4', name="payment")
                            label(for="payment4") Банковской картой при получении
                hr
                h3.text--primary Адрес доставки
                p.text--info Выберите один из адресов
                .radio
                    input(type="radio", id='ard1', name="ard")
                    label(for="ard1") 197046, г. Санкт-Петербург, ул. Большая Посадская, д. 10-а
                .radio
                    input(type="radio", id='ard2', name="ard")
                    label(for="ard2") 191028, Санкт-Петербург,  ул. Фурштатская, д. 15
                .radio.margbot20
                    input(type="radio", id='ard3', name="ard")
                    label(for="ard3") Или введите новый
                //p.text--info.margtop30 Или введите новый
                .row
                    .cell.cell__xs-4
                        .form__group
                            label Улица #[sup *]
                            input.form-control.form-control--full(type="text", placeholder="Например, Гороховая")
                    .cell.cell__xs-2
                        .form__group
                            label Дом #[sup *]
                            input.form-control.form-control--full(type="text", placeholder="Например, 123")
                    .cell.cell__xs-2
                        .form__group
                            label Корпус #[sup *]
                            input.form-control.form-control--full(type="text", placeholder="Например, 123")
                    .cell.cell__xs-2
                        .form__group
                            label Квартира #[sup *]
                            input.form-control.form-control--full(type="text", placeholder="Например, 123")
                hr
                h3.text--primary Комментарий
                .row
                    .cell.cell__xs-7
                        textarea.form-control.form-control--full(rows="5")
                    .cell.cell__xs-5.pull-right
                       .margtop30 Ваш заказ: 3 467 руб.  #[br] Доставка: бесплатно
                       ul.list--inline.margbot0
                           li.cell__xs-5.v-bottom
                                .text__lg Итого:
                                    b.text--primary  3 549 руб.
                            li.cell__xs-6.v-bottom
                                a.btn.btn--primary.btn--full.btn__md(href="#") Оформить заказ #[i.icon-right-open-1]