main.page-main
    .container
        section.main-template.probes
            include ../components/_breadcrumbs
            section
                .cell__xs-11.center-block
                    h3.text--lowercase.text--primary= title
                    p.text--info Выберите три пробника
                    .row
                        - for (var x = 0; x < 8; x++)
                            .cell.cell__xs-3
                                .card
                                    .card-category
                                        ul.breadcrumbs
                                            li
                                                a(href="#") Улун
                                            li
                                                a(href="#") Темный улун
                                    .card-img
                                        img(src="images/card-img-1.jpg", alt="")
                                    .card-title: h6 Те гуань инь вторая строчка
                                    .card-desc
                                        p Черный чай, который окислен примерно до 80 %. В Китае и некоторых других восточных странах этот вид называют красным.
                                        img(src="images/card-ico.png", alt="")
                                        p: b Цена за 100 гр: 1 549 р.
                                    .card-info
                                        .card-info__weight
                                            span.text--center
                                                a.inc(href="#") -
                                            span.type
                                                input.form-control.product-quantity__input.zero(type="text", value="0", data-step="1", readonly)
                                            span.text--center
                                                a.dec(href="#") +
                    ul.list--inline.text--right
                        li: a.btn.btn--warning.btn__xlg.text--uppercase(href="#") Пропустить  #[i.icon-right-open-1]
                        li: a.btn.btn--primary.btn__xlg.text--uppercase(href="#") Оформить заказ