main.page-main
    .container
        section.main-template.news
            include ../components/_breadcrumbs
            .row.with-sidebar
                aside.cell.cell__xs-3
                    .widget.active
                        .widget-title О проекте
                        .widget-body
                            ul.list--unstyled.margbot0
                                li: a(href="#") О нас
                                li: a(href="#") Новости
                                li: a(href="#") Сертификаты
                                li: a(href="#") Что-нибудь еще
                                li: a(href="#") Пункты меню длинные
                section.cell.cell__xs-9
                    .text--center.margtop-50.margbot40
                        h2.text--primary= title
                    .cell__xs-11.center-block.comments
                        .media
                            .media__img
                                a(href="#"): img(src="images/ava.png", alt="")
                            .media__body
                                .pull-right.text__sm 1 day ago
                                h6.media__title Alex
                                p Тань Ян обласкал и удивил. Те ноты в нем, что звучат талой водой (будто снег подтаял по кромке горного ручья) нашли свое законное место в холодной заварке. Хочется воскликнуть: только так и надо заваривать Тань Ян! Но сдерживаюсь, потому что помню: заваренный горячим проливом в гайвани он по-иному великолепен. #[br] Спасибо за открытие.)
                                ul.list--inline.text--info.text__md.margbot40
                                    li: a(href="#") #[i.text--danger.icon-heart] 32
                                    li: a(href="#") #[img(src="images/reply.png", alt="")] Ответить
                                .media
                                    .media__img
                                        a(href="#"): img(src="images/ava.png", alt="")
                                    .media__body
                                        .pull-right.text__sm 1 day ago
                                        h6.media__title Alex
                                        p Тань Ян обласкал и удивил. Те ноты в нем, что звучат талой водой (будто снег подтаял по кромке горного ручья) нашли свое законное место в холодной заварке. Хочется воскликнуть: только так и надо заваривать Тань Ян! Но сдерживаюсь, потому что помню: заваренный горячим проливом в гайвани он по-иному великолепен. #[br] Спасибо за открытие.)
                                        ul.list--inline.text--info.text__md.margbot40
                                            li: a(href="#") #[i.text--danger.icon-heart] 32
                                            li: a(href="#") #[img(src="images/reply.png", alt="")] Ответить
                        .media
                            .media__img
                                a(href="#"): img(src="images/ava.png", alt="")
                            .media__body
                                .pull-right.text__sm 1 day ago
                                h6.media__title Alex
                                p Тань Ян обласкал и удивил. Те ноты в нем, что звучат талой водой (будто снег подтаял по кромке горного ручья) нашли свое законное место в холодной заварке. Хочется воскликнуть: только так и надо заваривать Тань Ян! Но сдерживаюсь, потому что помню: заваренный горячим проливом в гайвани он по-иному великолепен. #[br] Спасибо за открытие.)
                                ul.list--inline.text--info.text__md.margbot40
                                    li: a(href="#") #[i.text--danger.icon-heart] 32
                                    li: a(href="#") #[img(src="images/reply.png", alt="")] Ответить
                                .media
                                    .media__img
                                        a(href="#"): img(src="images/ava.png", alt="")
                                    .media__body
                                        .pull-right.text__sm 1 day ago
                                        h6.media__title Alex
                                        p Тань Ян обласкал и удивил. Те ноты в нем, что звучат талой водой (будто снег подтаял по кромке горного ручья) нашли свое законное место в холодной заварке. Хочется воскликнуть: только так и надо заваривать Тань Ян! Но сдерживаюсь, потому что помню: заваренный горячим проливом в гайвани он по-иному великолепен. #[br] Спасибо за открытие.)
                                        ul.list--inline.text--info.text__md.margbot40
                                            li: a(href="#") #[i.text--danger.icon-heart] 32
                                            li: a(href="#") #[img(src="images/reply.png", alt="")] Ответить
                                    hr
                        .media
                            .media__img
                                a(href="#"): img(src="images/ava1.png", alt="")
                            .media__body
                                h6.media__title Вася
                                .form__group
                                    textarea.form-control(rows="8", placeholder="Ваш комментарий")
                                .text--right
                                    a.btn.btn--primary.text--uppercase.btn__lg(href="#") ОТправить