extends layouts/_default

block title
    title Нефритовый дракон
    - var title = 'О проекте'

block pageName
    -var pageName = "index"

block siteHeader
    include partials/_header

block siteMain
    include pages/_about

block siteFooter
    include partials/_footer
