extends layouts/_default

block title
    title Нефритовый дракон
    - var title = 'Пуэр (Шен)'

block pageName
    -var pageName = "index"

block siteHeader
    include partials/_header-fix

block siteMain
    include pages/_card

block siteFooter
    include partials/_footer
