extends layouts/_default

block title
    title Нефритовый дракон
    - var title = 'Корзина'

block pageName
    -var pageName = "index"

block siteHeader
    include partials/_header

block siteMain
    include pages/_cart

block siteFooter
    include partials/_footer
