extends layouts/_default

block title
    title Нефритовый дракон
    - var title = 'Пуэр'

block pageName
    -var pageName = "index"

block siteHeader
    include partials/_header-fix

block siteMain
    include pages/_catalog

block siteFooter
    include partials/_footer
