extends layouts/_default

block title
    title Нефритовый дракон
    - var title = 'Для ресторанов'

block pageName
    -var pageName = "index"

block siteHeader
    include partials/_header

block siteMain
    include pages/_for-rest

block siteFooter
    include partials/_footer
