extends layouts/_default

block title
    title Нефритовый дракон
    - var title = 'Главная'

block pageName
    -var pageName = "index"

block siteHeader
    include partials/_header-main

block siteMain
    include pages/_index

block siteFooter
    include partials/_footer
