extends layouts/_default

block title
    title Нефритовый дракон
    - var title = 'Страница новостей'

block pageName
    -var pageName = "index"

block siteHeader
    include partials/_header

block siteMain
    include pages/_one-news

block siteFooter
    include partials/_footer
