extends layouts/_default

block title
    title Нефритовый дракон
    - var title = 'Выбор пробников'

block pageName
    -var pageName = "index"

block siteHeader
    include partials/_header

block siteMain
    include pages/_probes

block siteFooter
    include partials/_footer
